<template>
	<v-app>
		<v-app-bar app height="72px">
			<img src="~/assets/thu.png" height="50%" />
			<!-- <v-toolbar-title
				style="overflow: initial; font-size: 30px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-left: 1%"
				v-text="title"
			/> -->
			<span
				style="font-size: 30px; margin-left: 1%; font-family: 'Segoe UI' !important"
			>
				{{ title }}
			</span>
			<v-tabs class="ml-9 pl-9">
				<v-tab class="title" exact nuxt to="/">
					主页
				</v-tab>
				<v-tab class="title" nuxt to="/competitions">
					比赛
				</v-tab>
			</v-tabs>
			<v-spacer />

			<v-menu
				bottom
				left
				:close-on-content-click="false"
				offset-y
				max-height="500px"
				v-if="userData"
				@input="val => !val && markAsRead()"
			>
				<template v-slot:activator="{ on }">
					<v-btn class="mr-6" icon v-on="on">
						<v-badge :value="unreadCount > 0" color="red" overlap>
							<template v-slot:badge>
								<span>{{ unreadCount }}</span>
							</template>
							<v-icon size="28px">
								mdi-bell
							</v-icon>
						</v-badge>
					</v-btn>
				</template>

				<v-card class="pa-4">
					<div
						style="font-size: 25px; font-weight: 1000; margin-bottom: 4%; margin-left: 0"
					>
						消息通知
					</div>
					<v-divider></v-divider>

					<div
						v-if="
							!userData ||
								!userData.notifications ||
								!userData.notifications.length
						"
						class="text-center subtitle-1 ma-4 mb-2 grey--text"
					>
						暂无消息通知
					</div>
					<notification-list v-else :notifications="userData.notifications" />
				</v-card>
			</v-menu>

			<v-menu offset-y v-if="!userData">
				<!-- login -->
				<template v-slot:activator="{ on }">
					<v-btn outlined @click="vlogin = true">
						<v-icon left>
							mdi-account-circle
						</v-icon>
						登录
					</v-btn>
				</template>
			</v-menu>

			<!-- After logged in -->
			<v-menu offset-y v-else>
				<template v-slot:activator="{ on }">
					<v-btn outlined v-on="on" style="text-transform: none">
						<v-icon left>
							mdi-account
						</v-icon>
						{{ userData.username }}
					</v-btn>
				</template>
				<v-list>
					<v-list-item nuxt :to="`/users/${userData._id}`">
						个人界面
					</v-list-item>
					<v-list-item @click="logout">
						退出登录
					</v-list-item>
				</v-list>
			</v-menu>
			<login v-model="vlogin"></login>
			<!-- shown when login success-->
			<alert
				title="提示"
				content="登出成功"
				:value="showSuccess"
				@input="
					val => {
						showSuccess = val;
						$emit('input', val);
						this.$router.push('/');
					}
				"
			>
			</alert>
			<!-- shown when login fail -->
			<alert
				title="提示"
				content="登出失败"
				:value="showFail"
				@input="
					val => {
						showFail = val;
						$emit('input', val);
					}
				"
			></alert>
		</v-app-bar>

		<v-content>
			<v-container style="max-width: 90%">
				<nuxt />
			</v-container>
			<div
				style="max-width: 100%;padding: 20px; height:200px;background-color: indigo"
			>
				<div style="height: 20%">
					<img src="~/assets/thu.png" height="50%" />
					<span
						style="font-size: 25px; margin-left: 1%; margin-bottom: 10%;color:white;font-family: 'Segoe UI' !important"
					>
						{{ title }}
					</span>
				</div>
				<div style="height: 80%">
					<v-row style="height: 80%">
						<v-col cols="1"></v-col>

						<v-col cols="3">
							<nuxt-link to="/">
								<div style="color:white;font-size: 20px;">关于本站</div>
							</nuxt-link>
						</v-col>
						<v-col cols="4">
							<div style="color:white;padding: 5px;">清华大学软件学院</div>
							<div style="color:white;padding: 5px">
								<v-icon style="color:honeydew">mdi-notebook-multiple</v-icon>
								《软件工程》
							</div>
							<div style="color:white;padding: 5px">
								<v-icon style="color:honeydew">mdi-map-marker</v-icon>
								北京市海淀区清华园街道清华大学
							</div>
						</v-col>
						<v-col cols="4" height="100%">
							<!-- <img src="~/assets/wx.jpeg" height="10%"></img> -->
							<img src="~/assets/wx.jpeg" style="margin: auto;height:80px" />
							<div style="color: white">扫码体验小程序</div>
						</v-col>
					</v-row>
				</div>
			</div>
		</v-content>

		<v-footer app>
			<span style="font-family: 'Segoe UI' !important">
				Compete++ &copy; 2019
			</span>
		</v-footer>
	</v-app>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";

import axios from "axios";
import Login from "~/components/Login.vue";
import baseUrl from "@/utils/url.js";
import Alert from "@/components/Alert.vue";
import NotificationList from "@/components/NotificationList.vue";

export default {
	components: {
		Login,
		Alert,
		NotificationList
	},
	data() {
		return {
			showFail: false,
			showSuccess: false,
			items: [
				{
					icon: "mdi-apps",
					title: "Welcome",
					to: "/"
				},
				{
					icon: "mdi-chart-bubble",
					title: "Inspire",
					to: "/inspire"
				}
			],
			title: "Compete++",
			vlogin: false
		};
	},
	computed: {
		...mapState(["userData"]),
		...mapGetters(["unreadCount"])
	},
	async mounted() {
		// Get user data
		await this.fetchUserData();
		setInterval(this.fetchUserData, 2 * 60 * 1000);
		console.log(this.unreadCount);
	},
	methods: {
		...mapActions(["fetchUserData"]),
		...mapMutations(["setUserData"]),

		logout() {
			axios.delete(`${baseUrl}/account`).then(res => {
				if (!res.data.success) {
					console.log(res.data);
					this.showFail = true;
				} else {
					this.setUserData(null);
					this.showSuccess = true;
				}
			});
		},

		async markAsRead() {
			if (!this.userData || !this.userData.notifications) return;

			let anyRead = false;
			for (let i = 0; i < this.userData.notifications.length; ++i) {
				if (!this.userData.notifications[i].read) {
					console.log("Read", i);
					await this.$axios.$patch(`${baseUrl}/users/${this.userData._id}`, {
						key: "read-notification",
						value: i
					});
					anyRead = true;
				}
			}
			if (anyRead) {
				await this.fetchUserData();
				console.log("Refetch userdata");
			}
		}
	}
};
</script>
