<template>
  <div class="login">
    <div class="form">
      <v-container fluid>
        <v-row>
          <v-col
            cols="12"
            sm="6"
          >
            <v-text-field
              v-model="label"
              label="Account"
              clearable
            />
            <v-text-field
              v-model="password"
              :append-icon="show ? 'eye' : 'eye-off'"
              :rules="[rules.required, rules.min]"
              :type="show ? 'text' : 'password'"
              name="Password"
              label="Password"
              hint="At least 8 characters"
              counter
              clearable
              @click:append="show = !show"
            />
          </v-col>
        </v-row>
      </v-container>
    </div>
    <div class="form-group">
      <button class="btn" @keyup.enter="login" @click="login">
        Sign in
      </button>
    </div>
  </div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  layout: 'login',
  data () {
    return {
      account: '',
      show: false,
      password: 'Password',
      rules: {
        required: value => !!value || 'Required.',
        min: v => v.length >= 8 || 'Min 8 characters',
        emailMatch: () => ('The email and password you entered don\'t match')
      },
      label: 'Hey!',
      hint: 'Customize me!',
      placeholder: ''
    };
  },
  created () {

  },
  methods: {
    login () {
      axios.post('/api/user/login', {
        user: {
          account: this.account,
          password: this.password
        }
      }).then((res) => {
        const data = res.data;
        if (data.code !== 200) {
          alert(data.message);
        } else {

        }
      }).catch((error) => {
        console.log(error);
      });
    }
  }
};
</script>

<style>
</style>
