<template>
	<v-menu
		v-model="menu"
		:close-on-content-click="false"
		:nudge-right="40"
		transition="scale-transition"
		offset-y
		min-width="290px"
	>
		<template v-slot:activator="{ on }">
			<v-row>
				<v-col cols="4">
					<v-subheader class="mt-2 subtitle-1">
						{{ dateTitle }}
					</v-subheader>
				</v-col>
				<v-col>
					<v-text-field
						:value="value"
						readonly
						v-on="on"
						:rules="[value => value > minDate || errorInfo]"
						outlined
					></v-text-field>
				</v-col>
			</v-row>
		</template>
		<v-date-picker
			locale="zh"
			:value="value"
			@input="val => $emit('input', val)"
		></v-date-picker>
	</v-menu>
</template>

<script>
export default {
	props: {
		value: {
			type: String,
			default: undefined
		},
		dateTitle: {
			type: String,
			default: "Date"
		},
		minDate: {
			type: String,
			default: ""
		},
		errorInfo: {
			type: String,
			default: "Error"
		}
	}
};
</script>
