<template>
  <v-dialog
    :value="value"
    @input="val=>$emit('input',false)"
    max-width="300px"
    transition="dialog-transition"
  >
    <v-card>
      <v-card-title primary-title>
        {{title}}
      </v-card-title>
      <v-card-text>
        {{content}}
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click.stop="$emit('input',false)">
          我知道了
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  props: {
    title: String,
    content: String,
    value: Boolean
  }
};
</script>
