<template>
	<v-dialog
		max-width="500px"
		:value="value"
		@input="val=>{
			$emit('input', val)
		}"
	>
	<v-card>
		<v-card-title primary-title>
			上传头像
		</v-card-title>
		<v-file-input
		class="ma-4"
		v-model="file"
		@change="uploadFile"
		placeholder="选择文件上传"
		>
		</v-file-input>
		<v-card-actions>
			<v-spacer></v-spacer>
			<v-btn
color="primary dark"
			@click="$emit('input',false)"
>
				取消
			</v-btn>
			<v-btn
color="primary dark"
			@click="uploadFile"
>
				确定
			</v-btn>
</v-card-actions>
</v-btn>
</v-card>
	</v-dialog>
</template>

<script>
	import { mapState } from 'vuex';
	import baseUrl from "@/utils/url";

	export default {
		props: {
			value: Boolean
		},
		data() {
			return {
				file: null
			};
		},
		computed: {
			...mapState(["userData"])
		},
		methods: {
			async uploadFile() {
				console.log("upload file");
				console.log(this.file);
				if (!this.file) {
					console.log("empty file");
					this.$emit('input', false);
					return;
				}
				const formData = new FormData();
				formData.append("file", this.file);
				formData.append("key", "avatar");
				const res = await this.$axios.$patch(
					`${baseUrl}/users/${this.userData._id}`,
					formData,
					{
						headers: {
							"Content-Type": "multipart/form-data"
						}
					}
				);
				this.$emit('input', false);
				this.$emit('update');
			}
		}
	};
</script>
