<template>
	<div>
		<div
			class="text-center title ma-4 grey--text"
			v-if="!(awards && awards.length)"
		>
			暂无获奖名单
		</div>
		<v-simple-table v-else>
			<template v-slot:default>
				<thead>
					<tr>
						<th width="50%" class="text-left">
							姓名
						</th>
						<th width="50%" class="text-left">
							奖项
						</th>
					</tr>
				</thead>

				<tbody>
					<tr v-for="award in awards" :key="award.name">
						<td>
							<v-avatar>
								<v-icon>mdi-account</v-icon>
							</v-avatar>
							{{ award.name }}
						</td>
						<td>
							{{ award.award }}
						</td>
					</tr>
				</tbody>
			</template>
		</v-simple-table>
	</div>
</template>

<script>
export default {
	props: {
		awards: {
			type: Array,
			default: null
		}
	}
};
</script>
