<template>
	<v-dialog
		:value="value"
		@input="val => $emit('input', val)"
		max-width="1000px"
	>
		<alert
			title="提示"
			:content="alertContent"
			:value="showAlert"
			@input="
				val => {
					showAlert = val;
					if (success) $emit('input', val);
				}
			"
		/>
		<v-card style="overflow: hidden">
			<v-card-title>上传证书底图</v-card-title>

			<v-card-text>
				<v-row>
					<v-col align-self="center" cols="2">
						选择证书底图：
					</v-col>
					<v-col cols="10">
						<v-file-input
							accept="image/*"
							label="证书底图"
							@change="fileChanged"
						/>
					</v-col>
				</v-row>
				<v-row>
					<v-col align-self="center" cols="2">
						框出必要信息位置
					</v-col>
					<v-col cols="10">
						<image-selection
							:src="dataUrl"
							:selections="selections"
							@change="val => (positions = val)"
						/>
					</v-col>
				</v-row>
				<v-row>
					<v-col align-self="center" cols="2">
						字体大小
					</v-col>
					<v-col cols="10">
						<el-input-number v-model="fontSize" :min="10" :max="100" />
					</v-col>
				</v-row>
				<v-row>
					<v-col align-self="center" cols="2">
						预览
					</v-col>
					<v-col cols="10">
						<v-img :src="previewImage" :eager="true" />
					</v-col>
				</v-row>
				<v-row justify="center">
					<v-btn :loading="loading" class="mr-2" @click="preview">
						预览
					</v-btn>
					<v-btn color="primary" dark @click="upload">
						上传
					</v-btn>
				</v-row>
			</v-card-text>
		</v-card>
	</v-dialog>
</template>

<script>
import baseUrl from "@/utils/url";
import Alert from "@/components/Alert.vue";
import ImageSelection from "@/components/ImageSelection.vue";

export default {
	components: {
		Alert,
		ImageSelection
	},
	props: {
		value: {
			type: Boolean,
			default: false
		},
		competitionId: {
			type: String,
			default: null
		}
	},

	data() {
		return {
			file: null,
			dataUrl: undefined,
			showAlert: false,
			alertContent: "",
			positions: {},
			fontSize: 16,
			loading: false,
			previewImage: undefined,
			selections: [
				{
					label: "参赛队伍",
					color: "#EF5350",
					key: "team"
				},
				{
					label: "参赛成员",
					color: "#8E24AA",
					key: "member"
				},
				{
					label: "指导教师",
					color: "#FFA000",
					key: "teacher"
				},
				{
					label: "获奖情况",
					color: "#1E88E5",
					key: "prize"
				},
				{
					label: "证书二维码",
					color: "#43A047",
					key: "qrcode"
				}
			]
		};
	},

	methods: {
		fileChanged(file) {
			if (!file) {
				this.dataUrl = undefined;
				return;
			}
			this.file = file;
			console.log("Upload file:", this.file);
			const reader = new FileReader();
			reader.readAsDataURL(file);
			reader.onload = () => {
				this.dataUrl = reader.result;
				console.log(reader.result);
			};
		},
		async preview() {
			console.log("Preview: ", this.file);
			this.loading = true;
			const formData = new FormData();
			formData.append("file", this.file);
			formData.append("key", "certificate-background");
			formData.append("type", "file");
			formData.append("fontSize", this.fontSize);
			const positions = {};
			for (const k of Object.keys(this.positions)) {
				positions[this.selections[k].key] = this.positions[k];
			}
			console.log(positions);
			formData.append("positions", JSON.stringify(positions));
			const res = await this.$axios.$post(
				`${baseUrl}/competitions/preview-certificate`,
				formData,
				{
					headers: {
						"Content-Type": "multipart/form-data"
					}
				}
			);
			this.previewImage = res.image;
			this.loading = false;
		},
		async upload() {
			console.log("Uploading:", this.file);
			const formData = new FormData();
			formData.append("file", this.file);
			formData.append("key", "certificate-background");
			formData.append("type", "file");
			formData.append("fontSize", this.fontSize);
			const positions = {};
			for (const k of Object.keys(this.positions)) {
				positions[this.selections[k].key] = this.positions[k];
			}
			formData.append("positions", JSON.stringify(positions));
			const res = await this.$axios.$patch(
				`${baseUrl}/competitions/${this.competitionId}`,
				formData,
				{
					headers: {
						"Content-Type": "multipart/form-data"
					}
				}
			);
			console.log(res);
			if (res.success) {
				this.showAlert = true;
				this.alertContent = "上传成功";
				this.success = true;
			} else {
				this.showAlert = true;
				this.alertContent = "上传失败";
				this.success = false;
			}
		}
	}
};
</script>
