<template>
	<div>
		<div
			class="text-center title ma-4 grey--text"
			v-if="!(competitions && competitions.length)"
		>
			暂无符合条件的比赛
		</div>
		<!-- CompetitionList use v-for to show each -->
		<div v-else>
			<v-hover
				v-slot:default="{ hover }"
				v-for="competition in competitions.slice(
					(page - 1) * pageSize,
					page * pageSize
				)"
				:key="competition.title"
			>
				<div
					:class="{
						'v-card': card,
						'ma-5': card,
						'pa-4': card,
						'elevation-10': card && hover,
						'elevation-6': !card && hover
					}"
					style="transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1)"
					@click="!admin && $router.push(`/competition/${competition._id}`)"
				>
					<v-divider v-if="!card" class="my-3" />
					<v-row class="px-6" align="center">
						<!-- competition img col -->
						<v-col v-if="competition.thumbnail" cols="2" class="pa-0">
							<v-img
								:src="`/pic/${competition.thumbnail}`"
								max-width="170"
								max-height="170"
							/>
						</v-col>
						<!-- competition img col -->
						<v-col v-else cols="2" class="pa-0">
							<v-img
								:src="`/pic/cover/thumbnail.png`"
								max-width="170"
								max-height="170"
							/>
						</v-col>
						<!-- competition info col -->
						<v-col
							class="flex-grow-1 pl-6"
							style="font-size: 13px; color: rgb(0, 0, 0, 0.64)"
						>
							<span>
								<div class="title mb-2">
									<a :href="`/competition/${competition._id}`">
										<strong>{{ competition.title }}</strong>
									</a>
									<span
										:set="
											(status = statusChip(
												competition.status,
												competition.enrollDate,
												competition.competitionDate
											))
										"
									>
										<v-chip
											:dark="status.dark"
											class="mb-1 ml-1"
											small
											:color="status.color"
										>
											{{ status.text }}
										</v-chip>
									</span>
								</div>
								<div class="abstract mb-3" max-width="300px">
									<span>
										{{ showAbstract(competition.abstract) }}
									</span>
								</div>
								<div
									class="grey--text"
									style="color: rgb(0, 0, 0, 0.64) !important"
								>
									<v-icon class="mb-1" small>mdi-clock-outline</v-icon>
									报名时间：
									{{ formatDate(competition.enrollDate.begin) }} -
									{{ formatDate(competition.enrollDate.end) }}
									<br />
									<v-icon class="mb-1" small>mdi-clock-outline</v-icon>
									比赛时间：
									{{ formatDate(competition.competitionDate.begin) }} -
									{{ formatDate(competition.competitionDate.end) }}
									<br />
									<div class="mt-3">
										<span class="mr-6">
											<span class="mr-1">参赛人数</span>
											<span class="blue--text">{{
												userCount(competition)
											}}</span>
										</span>
										<span>
											<span class="mr-1">参赛队伍</span>
											<span class="blue--text">{{
												teamCount(competition)
											}}</span>
										</span>
									</div>
								</div>
							</span>
						</v-col>
						<!-- competition's organizer when userData.group === admin or user col -->
						<v-col cols="1" style="text-align: center; min-width: 200px;">
							<span class="subtitle-1" style="font-weight: 600">主办方</span>
							<br />
							{{ competition.organizerName }}
						</v-col>
						<v-col
							cols="1"
							style="text-align: center; font-size:20px; color: blue; min-width: 100px;"
						>
							<div v-if="competition.feature">{{ competition.feature }}</div>
							<div v-else>练习赛</div>
						</v-col>
						<!-- right buttons(admin&user) col -->
						<v-col
							cols="2"
							style="text-align: right"
							v-if="
								admin &&
									userData &&
									(userData.group === 'organizer' || userData.group === 'admin')
							"
						>
							<v-btn
								v-if="
									admin &&
										userData &&
										userData.group === 'admin' &&
										competition.status === COMPETITION_STATUS.VERIFYING
								"
								color="green"
								class="my-1"
								dark
								@click="verify(competition._id)"
							>
								批准
							</v-btn>
							<v-btn
								v-if="admin && userData && userData.group === 'admin'"
								class="my-1"
								color="red"
								dark
								@click="deleteCompetition(competition._id)"
							>
								删除
							</v-btn>
						</v-col>
						<!-- right buttons(organizer) col -->
						<v-col
							cols="2"
							style="text-align: right"
							v-else-if="
								admin &&
									userData &&
									userData.group === 'organizer' &&
									userData._id === competition.organizer
							"
						>
							<!-- When competition not over, can modify info -->
							<v-row justify="center">
								<v-btn
									v-if="competition.status !== COMPETITION_STATUS.OVER"
									color="blue lighten-1"
									class="ma-1"
									@click="
										$router.push(`/competition/edit?id=${competition._id}`)
									"
									dark
								>
									修改
								</v-btn>
								<v-btn
									v-if="competition.status === COMPETITION_STATUS.CONFIRMING"
									color="green lighten-1"
									class="ma-1"
									dark
									@click="publish(competition._id)"
								>
									发布
								</v-btn>
								<v-btn
									class="my-1"
									color="red lighten-1"
									dark
									@click="deleteCompetition(competition._id)"
								>
									删除
								</v-btn>
								<v-btn
									dark
									v-if="competition.status === COMPETITION_STATUS.OVER"
									disabled
									width="120px"
									class="ma-1"
								>
									已结束
								</v-btn>
							</v-row>
						</v-col>
					</v-row>
				</div>
			</v-hover>

			<v-divider v-if="!card" class="my-3" />

			<v-pagination
				class="my-3"
				v-model="page"
				:length="competitions && Math.ceil(competitions.length / pageSize)"
			/>
		</div>
	</div>
</template>

<script>
import baseUrl from "@/utils/url";
import { mapState } from "vuex";
import { statusChip, COMPETITION_STATUS } from "@/utils/competition.js";
import { getUser } from "@/utils/cache";
import { formatDate } from "@/utils/date";

export default {
	props: {
		competitions: Array,
		card: Boolean,
		admin: Boolean
	},
	computed: {
		...mapState(["userData"])
	},
	data() {
		return {
			competitionSubmitId: "",
			userInfo: {},
			COMPETITION_STATUS,
			pageSize: 10,
			page: 1
		};
	},
	watch: {
		competitions: {
			immediate: true,
			handler() {
				this.updateUsers();
			}
		}
	},
	methods: {
		statusChip,
		formatDate,

		userCount(competition) {
			return competition.teams.reduce((acc, cur) => {
				return acc + cur.members.length;
			}, 0);
		},

		teamCount(competition) {
			return competition.teams.length;
		},

		updateUsers() {
			if (this.competitions)
				this.competitions.forEach(async competition => {
					this.$set(
						this.userInfo,
						competition.organizer,
						await getUser(competition.organizer)
					);
				});
		},
		async deleteCompetition(id) {
			await this.$axios.$delete(`${baseUrl}/competitions/${id}`);
			this.$emit("update");
		},

		async verify(id) {
			await this.$axios.$patch(`${baseUrl}/competitions/${id}`, {
				key: "verify",
				value: true
			});
			this.$emit("update");
		},

		async publish(id) {
			await this.$axios.$patch(`${baseUrl}/competitions/${id}`, {
				key: "publish"
			});
			this.$emit("update");
		},
		showAbstract(abstract) {
			const ABSTRACT_MAX_LENGTH = 150;
			if (!abstract || abstract.length <= ABSTRACT_MAX_LENGTH) {
				return abstract;
			} else {
				return abstract.slice(0, ABSTRACT_MAX_LENGTH) + "...";
			}
		}
	}
};
</script>
