<template>
	<v-dialog
		:value="value"
		@input="val=>{
			$emit('input',val)
		}"
		max-width="500px"
	>
	<v-card>
		<v-card-title primary-title>
			个人介绍
		</v-card-title>
			<v-textarea
			class="mt-4 ml-4 mr-4"
			outlined
			v-model="bio"
			></v-textarea>
		<v-card-actions
			class="mr-2"
		>
			<v-spacer></v-spacer>
			<v-btn color="primary dark" @click="cancel">
取消
</v-btn>
			<v-btn color="primary dark" @click="submit">
完成
</v-btn>
		</v-card-actions>
	</v-card>
	</v-dialog>
</template>

<script>
	import baseUrl from "@/utils/url";
	import { mapState } from 'vuex';

	export default {
		props: {
			value: Boolean
		},
		computed: {
			...mapState(["userData"])
		},
		data() {
			return {
				bio: ""
			};
		},
		methods: {
			async submit() {
				console.log("submit");
				console.log("bio=", this.bio);
				await this.$axios.$patch(`${baseUrl}/users/${this.userData._id}`, {
					key: 'bio',
					value: this.bio
				});
				this.$emit('input', false);
				this.$emit('update');
			},
			cancel() {
				console.log("cancel");
				this.$emit('input', false);
			}
		}
	};
</script>
