<template>
	<div>
		<!-- The responsive is to set height -->
		<v-responsive
			:style="{ width, height, cursor: picked ? 'crosshair' : 'initial' }"
			:aspect-ratio="aspectRatio"
		>
			<v-img class="image-selection-content" :src="src" :eager="true" />
			<canvas class="image-selection-content" ref="canvas"></canvas>
			<!-- for temporary draw -->
			<canvas class="image-selection-content" ref="temp-canvas"></canvas>
		</v-responsive>

		<v-row class="px-3 mb-1 mt-3">
			<v-btn
				v-for="({ color, label }, index) in selections"
				@click="pickupPen(index)"
				:key="label"
				text
				:style="{ color }"
			>
				<span class="color-box" :style="{ background: color }"></span>
				{{ label }}
			</v-btn>
			<v-spacer />

			<v-btn @click="clear">
				清除
			</v-btn>
		</v-row>
	</div>
</template>

<style scoped>
.color-box {
	content: "";
	height: 18px;
	width: 18px;
	margin-right: 5px;
	outline: 1px solid rgba(0, 0, 0, 0.6);
}

/* Use absolute position */
.image-selection-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
</style>

<script>
export default {
	props: {
		src: {
			type: String,
			default: ""
		},
		height: {
			type: String,
			default: undefined
		},
		width: {
			type: String,
			default: undefined
		},
		// { color: '', label: '' }
		selections: {
			type: Array,
			default: undefined
		},
		lineWidth: {
			type: Number,
			default: 1.0
		}
	},
	data() {
		return {
			image: null,
			imageWidth: 0,
			imageHeight: 0,
			aspectRatio: 0,
			current: -1,
			currentPos: null,
			startPos: null,
			positions: {},
			picked: false
		};
	},
	watch: {
		src: {
			handler() {
				this.loadImage();
			},
			immediate: true
		}
	},
	methods: {
		loadImage() {
			this.image = new Image();
			this.image.src = this.src;
			this.image.onload = () => {
				this.imageWidth = this.image.width;
				this.imageHeight = this.image.height;
				this.aspectRatio =
					this.imageHeight && this.imageWidth / this.imageHeight;
			};
		},

		setupCtx() {
			const canvas = this.$refs.canvas;
			const ctx = canvas.getContext("2d");
			const DPR = window.devicePixelRatio || 1;
			const rect = canvas.getBoundingClientRect();
			console.log("rect:", rect);
			canvas.width = rect.width * DPR;
			canvas.height = rect.height * DPR;
			ctx.scale(DPR, DPR);

			const tempCanvas = this.$refs["temp-canvas"];
			const tempCtx = tempCanvas.getContext("2d");
			tempCanvas.width = rect.width * DPR;
			tempCanvas.height = rect.height * DPR;
			tempCtx.scale(DPR, DPR);
		},

		pickupPen(index) {
			const tempCanvas = this.$refs["temp-canvas"];

			if (this.positions[index]) {
				// Clear
				delete this.positions[index];
			}
			this.setupCtx();
			this.recover();

			this.startPos = null;
			tempCanvas.addEventListener("mousedown", this.startDrawing);
			tempCanvas.addEventListener("mouseup", this.stopDrawing);
			this.current = index;
			this.picked = true;
		},

		startDrawing(e) {
			if (this.current === -1) return;

			const tempCanvas = this.$refs["temp-canvas"];
			tempCanvas.addEventListener("mousemove", this.moveCursor);
			// To prevent cursor move outside
			tempCanvas.removeEventListener("mousedown", this.startDrawing);
			tempCanvas.addEventListener("mousedown", this.stopDrawing);
			this.startPos = this.getMousePos(e);
		},

		moveCursor(e) {
			const tempCanvas = this.$refs["temp-canvas"];
			const tempCtx = tempCanvas.getContext("2d");

			if (this.currentPos) this.clearCanvas(tempCanvas);

			this.currentPos = this.getMousePos(e);

			const r = this.getRect(this.startPos, this.currentPos);
			tempCtx.strokeStyle = this.selections[this.current].color;
			tempCtx.strokeRect(r.x, r.y, r.width, r.height);
		},

		stopDrawing(e) {
			const canvas = this.$refs.canvas;

			this.commitRect();
			this.clearCanvas(this.$refs["temp-canvas"]);

			const tempCanvas = this.$refs["temp-canvas"];
			tempCanvas.removeEventListener("mousedown", this.stopDrawing);
			tempCanvas.removeEventListener("mouseup", this.stopDrawing);
			tempCanvas.removeEventListener("mousemove", this.moveCursor);
			this.current = -1;
			this.picked = false;
		},

		// Draw on canvas
		commitRect() {
			const canvas = this.$refs.canvas;
			const ctx = canvas.getContext("2d");
			const r = this.getRect(this.startPos, this.currentPos);
			const rect = canvas.getBoundingClientRect();
			ctx.strokeStyle = this.selections[this.current].color;
			ctx.strokeRect(r.x, r.y, r.width, r.height);
			r.x /= rect.width;
			r.y /= rect.height;
			r.width /= rect.width;
			r.height /= rect.height;
			this.positions[this.current] = r;
			this.$emit("change", this.positions);
			console.log(this.positions);
		},

		// Recover rects
		recover() {
			const canvas = this.$refs.canvas;
			const ctx = canvas.getContext("2d");
			const rect = canvas.getBoundingClientRect();
			for (const index of Object.keys(this.positions)) {
				if (index === this.current) continue;
				ctx.strokeStyle = this.selections[index].color;
				const r = this.positions[index];
				ctx.strokeRect(
					r.x * rect.width - this.lineWidth,
					r.y * rect.height - this.lineWidth,
					r.width * rect.width + 2 * this.lineWidth,
					r.height * rect.height + 2 * this.lineWidth
				);
			}
		},

		getMousePos(e) {
			const canvas = this.$refs.canvas;
			const rect = canvas.getBoundingClientRect();
			return {
				x: e.clientX - rect.left + window.pageXOffset,
				y: e.clientY - rect.top + window.pageXOffset
			};
		},

		getRect(startPos, endPos) {
			const x = Math.min(startPos.x, endPos.x);
			const y = Math.min(startPos.y, endPos.y);
			const width = Math.abs(endPos.x - startPos.x);
			const height = Math.abs(endPos.y - startPos.y);

			return { x, y, width, height };
		},

		clearCanvas(canvas) {
			const ctx = canvas.getContext("2d");
			ctx.clearRect(0, 0, canvas.width, canvas.height);
		},

		clear() {
			this.positions = {};
			this.clearCanvas(this.$refs.canvas);
		}
	}
};
</script>
