<template>
	<v-dialog
		max-width="800px"
		max-height="800px"
		:value="value"
		@input="
			val => {
				value = val;
				$emit('input', val);
			}
		"
		transition="dialog-transition"
	>
		<v-card style="overflow: hidden">
			<v-tabs grow height="60px" v-model="tab">
				<v-tab class="title">
					<v-icon class="mr-2">
						mdi-cellphone
					</v-icon>
					手机登录
				</v-tab>
				<v-tab class="title">
					<v-icon class="mr-2">
						mdi-account
					</v-icon>
					账号登录
				</v-tab>
			</v-tabs>
			<v-divider />

			<v-row class="pa-4" justify="space-around">
				<!-- left col: email-register -->
				<v-col cols="12" sm="7">
					<v-card-text>
						<v-form ref="form" v-model="valid" lazy-validation>
							<!-- userid -->
							<v-text-field
								v-if="tab === 0"
								prepend-icon="mdi-cellphone"
								label="手机号码"
								v-model="phone"
								:rules="[rules.phone]"
								prefix="+86"
								hint="11位中国手机号"
							></v-text-field>
							<v-text-field
								v-if="tab === 1"
								v-model="username"
								prepend-icon="mdi-account-box"
								label="用户名"
								:rules="[rules.required, rules.min4]"
								hint="请不少于4个字"
								counter
							></v-text-field>
							<v-text-field
								v-if="tab === 1"
								v-model="password"
								prepend-icon="mdi-key-variant"
								label="密码"
								:type="show_password ? 'text' : 'password'"
								:rules="[rules.required, rules.min8]"
								hint="请不少于8个字"
								:append-icon="show_password ? 'mdi-eye' : 'mdi-eye-off'"
								counter
								@click:append="show_password = !show_password"
							></v-text-field>
							<v-row v-if="tab === 0" class="px-3">
								<v-text-field
									prepend-icon="mdi-code-tags"
									v-model="code"
									label="短信验证码"
									:rules="[rules.code]"
									hint="请输入6位验证码"
									@click:append="show_password = !show_password"
									required
								></v-text-field>
								<v-btn
									:disabled="resentTime !== 0"
									class="mt-3 ml-3"
									@click="sendCode"
								>
									获取验证码 {{ resentTime ? `(${resentTime})` : "" }}
								</v-btn>
							</v-row>
						</v-form>
						<!--use row to layout vertical-->
						<v-row justify="center">
							<v-btn
								class="mt-6 mb-1"
								width="400px"
								color="primary"
								@click.stop="submit"
							>
								登录
							</v-btn>
						</v-row>
						<v-row justify="center">
							<v-btn
								text
								@click="(register = true), $emit('input', false)"
								align="left"
							>
								没有账户，注册
								<v-icon>mdi-account-arrow-right</v-icon>
							</v-btn>
						</v-row>
					</v-card-text>
				</v-col>
				<!--right col: wechat register -->
				<v-col cols="12" sm="5">
					<v-card-text>
						<wechat :qrsrc="wechatQrSrc"></wechat>
					</v-card-text>
				</v-col>
			</v-row>
			<v-card-actions>
				<!-- shown when login success-->
				<register
					v-model="register"
					@login="$emit('input', true), (register = false)"
				></register>
				<alert
					title="提示"
					content="登录成功"
					:value="showSuccess"
					@input="
						val => {
							showSuccess = val;
							$emit('input', val);
						}
					"
				>
				</alert>
				<!-- shown when login fail -->
				<alert
					title="提示"
					content="登录失败"
					:value="showFail"
					@input="
						val => {
							showFail = val;
						}
					"
				></alert>
				<!-- shown when username or password invalid -->
				<alert
					title="提示"
					content="用户名或密码不合法"
					:value="showAlert"
					@input="val => (showAlert = val)"
				></alert>
				<v-spacer></v-spacer>
			</v-card-actions>
		</v-card>
	</v-dialog>
</template>

<script>
import axios from "axios";
import { mapActions } from "vuex";
import baseUrl from "@/utils/url.js";
import Alert from "@/components/Alert.vue";
import Register from "@/components/Register.vue";
import Wechat from "@/components/login/wechat.vue";

export default {
	components: {
		Register,
		Alert,
		Wechat
	},
	props: {
		value: Boolean
	},
	data: () => ({
		username: "",
		password: "",
		register: false,
		show_password: false,
		showAlert: false,
		showSuccess: false,
		showFail: false,
		valid: true,
		wechatQrSrc: "/images/miniapp.jpg",
		rules: {
			required: value => !!value || "此项不能为空",
			min4: value => value.length >= 4 || "请不少于4个字",
			min8: value => value.length >= 8 || "请不少于8个字",
			code: value => value.length === 6 || "请输入6位验证码",
			phone: value =>
				(/^\d+$/.test(value) && value.length === 11) || "请输入正确的手机号",
			same: value => value === this.password || "两次密码需要一致"
		},
		resentTime: 0,
		tab: 0,
		phone: "",
		code: ""
	}),
	mounted() {
		setInterval(() => {
			if (this.resentTime > 0) --this.resentTime;
		}, 1000);
	},
	methods: {
		...mapActions(["fetchUserData"]),
		validUsername(username) {
			const temp = username.length;
			return temp >= 4;
		},
		validPassword(password) {
			const temp = password.length;
			return temp >= 8;
		},
		async sendCode() {
			this.resentTime = 60;
			await this.$axios.$put(`${baseUrl}/account/code`, { phone: this.phone });
		},
		submit() {
			console.log(this.username, this.password);
			// Send username and password to backend
			if (!this.$refs.form.validate()) {
				return;
			}
			const url = `${baseUrl}/account`;
			axios
				.put(
					url,
					this.tab === 1
						? {
								username: this.username,
								password: this.password
						  }
						: {
								phone: this.phone,
								code: this.code
						  }
				)
				.then(res => {
					console.log("result received");
					if (!res.data.success) {
						console.log(res.data);
						this.showFail = true;
					} else {
						console.log(res.data);
						this.fetchUserData();
						// Success alertion
						this.showSuccess = true;
					}
				});
		}
	}
};
</script>

<style>
</style>
