<template>
	<div>
		<div
			class="mt-3 mb-3 ml-2 mr-2"
			v-for="(notification, i) in notifications.slice().reverse()"
			:key="i"
			max-height="500px"
		>
			<div class="title">
				<div v-if="!notification.read" class="dot mb-1 mr-1"></div>
				<nuxt-link
					v-if="notification.type === 1"
					:to="`/competition/${notification.competitionId}`"
				>
					{{ notification.title }}
				</nuxt-link>
				<nuxt-link
					v-if="notification.type === 2"
					:to="
						`/team?competitionId=${notification.competitionId}&teamId=${notification.teamId}`
					"
				>
					{{ notification.title }}
				</nuxt-link>
			</div>
			<div class="mt-1 mb-3">
				<span style="color:gray">
					{{ notification.description }}
				</span>
			</div>
			<v-divider></v-divider>
		</div>
	</div>
</template>

<style scoped>
.dot {
	height: 8px;
	width: 8px;
	background-color: #f00;
	border-radius: 50%;
	display: inline-block;
}
</style>

<script>
export default {
	props: {
		notifications: {
			type: Array,
			default: null
		}
	}
};
</script>
