<template>
	<div>
		<div
			class="text-center title ma-4 grey--text"
			v-if="!(posts && posts.length)"
		>
			讨论区暂无帖子
		</div>
		<template v-else>
			<v-divider class="my-5" />
			<div
				v-for="{ post, index } in posts
					.map((post, index) => ({ post, index }))
					.sort(
						(
							{ post: post1, index: index1 },
							{ post: post2, index: index2 }
						) => {
							if (Boolean(post1.top) !== Boolean(post2.top))
								return Boolean(post1.top) - Boolean(post2.top);
							return index1 - index2;
						}
					)
					.reverse()"
				:key="post.title"
				class="px-4"
			>
				<v-row class="px-4" align="center">
					<!-- post info col -->
					<div>
						<div class="title mb-2">
							<a
								:href="
									`/competition/posts?competitionId=${competitionId}&index=${index}`
								"
							>
								<b>{{ post.title }}</b>
							</a>
							<v-chip v-if="post.top" class="mb-1 ml-1" small color="blue" dark>
								置顶
							</v-chip>
						</div>
						<span>
							作者：
							<a
								v-if="userInfo[post.author]"
								:href="`/users/${userInfo[post.author]._id}`"
							>
								{{ userInfo[post.author].username }}
							</a>
							<span v-else>
								Loading...
							</span>
						</span>
						<span class="ml-4">
							日期：
							{{ formatDate(post.date) }}
						</span>
					</div>
					<v-spacer />
					<div>
						<div class="ma-2 px-4 py-2 outlined" style="display: inline-block">
							<div>
								浏览
							</div>
							<div class="text-center">
								{{ post.views }}
							</div>
						</div>
						<div class="ma-2 px-4 py-2 outlined" style="display: inline-block">
							<div>
								回复
							</div>
							<div class="text-center">
								{{ post.comments && post.comments.length }}
							</div>
						</div>
						<v-menu v-if="admin" bottom offset-y>
							<template v-slot:activator="{ on }">
								<v-btn v-on="on" class="mb-6" icon>
									<v-icon>mdi-dots-vertical</v-icon>
								</v-btn>
							</template>
							<v-list>
								<v-list-item v-if="post.top" @click="stick(index, false)">
									<v-icon class="mr-1">
										mdi-pin-off
									</v-icon>
									取消置顶
								</v-list-item>
								<v-list-item v-else @click="stick(index, true)">
									<v-icon class="mr-1">
										mdi-pin
									</v-icon>
									置顶
								</v-list-item>
								<v-list-item @click="deletePost(index)">
									<v-icon class="mr-1">
										mdi-delete
									</v-icon>
									删除
								</v-list-item>
							</v-list>
						</v-menu>
					</div>
				</v-row>
				<v-divider class="my-5" />
			</div>
		</template>
	</div>
</template>

<style scoped>
.outlined {
	border: 1px solid #ccc;
	border-radius: 10px;
}
</style>

<script>
import baseUrl from "@/utils/url";
import { getUser } from "@/utils/cache";
import { formatDate } from "@/utils/date";

export default {
	props: {
		posts: {
			type: Array,
			default: null
		},
		competitionId: {
			type: String,
			default: undefined
		},
		outlined: {
			type: Boolean,
			default: true
		},
		admin: {
			type: Boolean,
			default: false
		}
	},

	data() {
		return {
			userInfo: {}
		};
	},
	watch: {
		posts: {
			immediate: true,
			handler() {
				this.updateUsers();
			}
		}
	},
	methods: {
		formatDate,
		async deletePost(index) {
			await this.$axios.$patch(
				`${baseUrl}/competitions/${this.competitionId}/posts`,
				{
					key: "delete",
					value: index
				}
			);
			this.$emit("update");
		},

		updateUsers() {
			console.log(this.posts);
			if (this.posts)
				this.posts.forEach(async post => {
					this.$set(this.userInfo, post.author, await getUser(post.author));
				});
		},

		async stick(index, value) {
			await this.$axios.$patch(
				`${baseUrl}/competitions/${this.competitionId}/posts`,
				{
					key: "sticky",
					value: {
						index,
						sticky: value
					}
				}
			);
			this.$emit("update");
		}
	}
};
</script>
