<template>
	<v-dialog
		:value="value"
		@input="val => $emit('input', val)"
		max-width="1000px"
	>
		<v-card>
			<v-card-title>创建帖子</v-card-title>

			<v-card-text class="mt-4 px-10 black--text">
				<v-row class="px-8">
					<v-col class="subtitle-1" cols="2" align="center" align-self="center">
						标题
					</v-col>
					<v-col cols="10">
						<v-text-field class="mr-8" v-model="post.title" />
					</v-col>
				</v-row>
				<v-row class="px-8">
					<v-col class="subtitle-1" cols="2" align="center">
						内容
					</v-col>
					<v-col cols="10">
						<rich-text v-model="post.content"></rich-text>
					</v-col>
				</v-row>
				<v-row>
					<v-spacer />
					<v-btn class="mr-4" @click="$emit('input', false)">
						取消
					</v-btn>
					<v-btn class="elevation-3" dark color="primary" @click="createPost">
						发布帖子
					</v-btn>
				</v-row>
			</v-card-text>
		</v-card>
	</v-dialog>
</template>

<script>
import baseUrl from "@/utils/url";
import RichText from "@/components/RichText.vue";

export default {
	components: {
		RichText
	},
	props: {
		value: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			post: {
				title: "",
				content: ""
			}
		};
	},
	methods: {
		async createPost() {
			await this.$axios.$post(
				`${baseUrl}/competitions/${this.$route.params.id}/posts`,
				{
					value: this.post
				}
			);
			this.$emit("input", false);
			this.$emit("update");
		}
	}
};
</script>
