<template>
	<v-dialog
		:value="value"
		@input="val => $emit('input', val)"
		max-width="800px"
		max-height="800px"
		transition="dialog-transition"
	>
		<v-card style="overflow: hidden">
			<v-tabs grow height="60px" v-model="tab">
				<v-tab class="title">
					<v-icon class="mr-2">
						mdi-account
					</v-icon>
					参赛者注册
				</v-tab>
				<v-tab class="title">
					<v-icon class="mr-2">
						mdi-account
					</v-icon>
					组织者注册
				</v-tab>
			</v-tabs>
			<v-divider />

			<v-row class="pa-4" justify="space-around">
				<v-col cols="12" sm="7">
					<v-card-text>
						<v-form ref="form">
							<!-- userid -->
							<v-text-field
								prepend-icon="mdi-cellphone"
								label="手机号码"
								v-model="phone"
								:rules="[rules.phone]"
								prefix="+86"
								hint="11位中国手机号"
							></v-text-field>
							<!-- userid -->
							<v-text-field
								prepend-icon="mdi-account"
								label="用户名"
								v-model="username"
								:rules="[rules.required, rules.min4]"
								counter
								hint="请不少于4个字"
							></v-text-field>
							<!-- password -->
							<v-text-field
								prepend-icon="mdi-key-variant"
								v-model="password"
								label="密码"
								:type="show_password ? 'text' : 'password'"
								:rules="[rules.required, rules.min8]"
								hint="请不少于8个字"
								:append-icon="show_password ? 'mdi-eye' : 'mdi-eye-off'"
								counter
								@click:append="show_password = !show_password"
								required
							></v-text-field>
							<!-- repeat password -->
							<v-text-field
								v-model="password_again"
								prepend-icon="mdi-key-variant"
								:append-icon="show_password_again ? 'mdi-eye' : 'mdi-eye-off'"
								:type="show_password_again ? 'text' : 'password'"
								@click:append="show_password_again = !show_password_again"
								label="重复密码"
								:rules="[rules.same]"
								counter
							></v-text-field>
							<v-row class="px-3">
								<v-text-field
									prepend-icon="mdi-code-tags"
									v-model="code"
									label="短信验证码"
									:rules="[rules.code]"
									hint="请输入6位验证码"
									@click:append="show_password = !show_password"
									required
								></v-text-field>
								<v-btn
									:disabled="resentTime !== 0"
									class="mt-3 ml-3"
									@click="sendCode"
								>
									获取验证码 {{ resentTime ? `(${resentTime})` : "" }}
								</v-btn>
							</v-row>
						</v-form>
						<v-row justify="center">
							<v-btn
								class="mt-6 mb-1"
								dark
								width="400px"
								color="primary"
								@click="submit"
							>
								提交
							</v-btn>
						</v-row>
						<v-row justify="center">
							<v-btn text @click="$emit('login')" align="left">
								已有账户，登录
								<v-icon>mdi-account-arrow-right</v-icon>
							</v-btn>
						</v-row>
					</v-card-text>
				</v-col>
				<v-col cols="12" sm="5">
					<v-card-text>
						<wechat :qrsrc="wechatQrSrc"></wechat>
					</v-card-text>
				</v-col>
			</v-row>
			<v-card-actions>
				<!-- shown when register success-->
				<alert
					title="提示"
					content="注册成功"
					:value="showSuccess"
					@input="
						val => {
							showSuccess = val;
							$emit('login');
						}
					"
				>
				</alert>
				<!-- shown when register fail -->
				<alert
					title="提示"
					content="注册失败"
					:value="showFail"
					@input="
						val => {
							showFail = val;
						}
					"
				></alert>
				<!-- shown when username or password invalid -->
				<alert
					title="提示"
					content="用户名或密码不合法"
					:value="showAlert"
					@input="val => (showAlert = val)"
				>
				</alert>
			</v-card-actions>
		</v-card>
	</v-dialog>
</template>
<script>
import axios from "axios";
import baseUrl from "@/utils/url.js";
import Alert from "@/components/Alert.vue";
import wechat from "@/components/login/wechat.vue";

export default {
	components: {
		Alert,
		wechat
	},
	props: {
		value: Boolean
	},
	data() {
		return {
			tab: null,
			phone: "",
			username: "",
			password: "",
			password_again: "",
			code: "",
			show_password: false,
			show_password_again: false,
			showAlert: false,
			showFail: false,
			showSuccess: false,
			resentTime: 0,
			wechatQrSrc: "/images/miniapp.jpg",
			rules: {
				required: value => !!value || "此项不能为空",
				min4: value => value.length >= 4 || "请不少于4个字",
				min8: value => value.length >= 8 || "请不少于8个字",
				code: value => value.length === 6 || "请输入6位验证码",
				phone: value =>
					(/^\d+$/.test(value) && value.length === 11) || "请输入正确的手机号",
				same: value => value === this.password || "两次密码需要一致"
			}
		};
	},

	mounted() {
		setInterval(() => {
			if (this.resentTime > 0) --this.resentTime;
		}, 1000);
	},

	methods: {
		validUsername(username) {
			const temp = username.length;
			return temp >= 4;
		},
		validPassword(password) {
			const temp = password.length;
			return temp >= 8;
		},
		submit() {
			if (!this.$refs.form.validate()) {
				return;
			}
			axios
				.post(`${baseUrl}/account`, {
					username: this.username,
					password: this.password,
					group: this.tab === 0 ? "user" : "organizer",
					code: this.code,
					phone: this.phone
				})
				.then(res => {
					if (!res.data.success) {
						console.log(res.data);
						this.showFail = true;
					} else {
						this.showSuccess = true;
					}
				});
		},

		async sendCode() {
			this.resentTime = 60;
			await this.$axios.$post(`${baseUrl}/account/code`, { phone: this.phone });
		}
	}
};
</script>
