<template>
    <v-simple-table dark>
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">
姓名
</th>
          <th class="text-left">
分数
</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="result in results" :key="result.name">
          <td>{{ result.name }}</td>
          <td>{{ result.grade }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script>
export default {
    props: {
        results: Array
    },
    computed: {
        test() {
            console.log('Results.vue:', this.results);
            return this.results;
        }
    }
};
</script>
