<template>
	<div>
		<div
			class="quill-editor"
			:content="value"
			@change="onEditorChange($event)"
			v-quill:myQuillEditor="editorOption"
		></div>
	</div>
</template>

<script>
export default {
	props: {
		value: {
			type: String,
			default: ""
		}
	},
	data() {
		return {
			editorOption: {
				// some quill options
				modules: {
					toolbar: [
						["bold", "italic", "underline", "strike"],
						["blockquote", "code-block"],
						[{ header: 1 }, { header: 2 }],
						[{ list: "ordered" }, { list: "bullet" }],
						[{ script: "sub" }, { script: "super" }],
						[{ indent: "-1" }, { indent: "+1" }],
						[{ direction: "rtl" }],
						[{ size: ["small", false, "large", "huge"] }],
						[{ header: [1, 2, 3, 4, 5, 6, false] }],
						[{ font: [] }],
						[{ color: [] }, { background: [] }],
						[{ align: [] }],
						["clean"],
						["link", "image", "video"]
					]
				}
			}
		};
	},
	methods: {
		onEditorChange({ editor, html, text }) {
			this.$emit("input", html);
		}
	}
};
</script>

<style lang="scss" scoped>
.container {
	// width: 60%;
	margin: 0 auto;
	// padding: 50px 0;
}
.quill-editor {
	min-height: 300px;
	overflow-y: auto;
}
</style>
