<template>
	<div>
		<v-card
			v-for="member in members"
			:key="member.username"
			outlined
			class="ma-5 pa-2"
		>
			<v-row class="px-4" align="center">
				<v-avatar class="mr-1" size="50px">
					<v-icon size="50px">
						mdi-account-box
					</v-icon>
				</v-avatar>
				<a style="font-size: 18px" :href="`/users/${member._id}`">{{
					member.username
				}}</a>
				<v-chip
					class="ma-2"
					v-if="isLeader(member._id)"
					color="green"
					outlined
					small
				>
					队长
				</v-chip>
				<v-spacer />
				<v-btn
					class="ma-1"
					color="primary"
					dark
					@click="$router.push(`/users/${member._id}`)"
				>
					查看
				</v-btn>
				<v-btn
					v-if="!isLeader(member._id) && self._id === leader._id"
					class="ma-1"
					color="red"
					dark
					@click="deleteUser(member._id)"
				>
					删除
				</v-btn>
			</v-row>
		</v-card>
	</div>
</template>

<script>
import baseUrl from "@/utils/url";

export default {
	props: {
		leader: Object,
		members: Array,
		self: Object
	},
	methods: {
		async deleteUser(id) {
			await this.$axios.$delete(`${baseUrl}/users/${id}`);
			this.$emit("delete");
		},
		isLeader(memberId) {
			return this.leader._id === memberId;
		}
	}
};
</script>
