<template>
	<div>
		<div
			class="text-center title ma-4 grey--text"
			v-if="!(teams && teams.length)"
		>
			比赛暂无队伍
		</div>
		<v-list v-else>
			<v-list-group
				v-for="team in teams.slice((page - 1) * pageSize, page * pageSize)"
				:key="team.name"
			>
				<template v-slot:activator>
					<v-list-item-avatar>
						<v-avatar>
							<v-icon>mdi-account-multiple</v-icon>
						</v-avatar>
					</v-list-item-avatar>
					<v-list-item-content>
						<v-row>
							<v-col> {{ team.name }}</v-col>
							<v-col class="grey--text">
								成员 {{ team.members.length }}/{{ teamLimit }}
							</v-col>
							<v-col>
								<v-icon @click.stop="$emit('jointeam', team.id)">
									mdi-account-multiple-plus
								</v-icon>
							</v-col>
							<v-spacer />
						</v-row>
					</v-list-item-content>
				</template>

				<v-list-item v-for="member in team.members" :key="member">
					<v-list-item-avatar class="ml-6">
						<v-avatar>
							<v-icon>mdi-account</v-icon>
						</v-avatar>
					</v-list-item-avatar>
					<v-list-item-content>
						<v-row>
							<v-col>
								<span class="mr-8">
									{{ userInfo[member] && userInfo[member].username }}
								</span>
								<v-chip
									v-if="team.leader === member"
									color="green"
									outlined
									small
								>
									队长
								</v-chip>
							</v-col>
							<v-spacer style="flex-grow: 2 !important" />
						</v-row>
					</v-list-item-content>
				</v-list-item>
			</v-list-group>

			<v-pagination
				class="my-3"
				v-model="page"
				:length="teams && Math.ceil(teams.length / pageSize)"
			/>
		</v-list>
	</div>
</template>

<script>
import { getUser } from "@/utils/cache";

export default {
	props: {
		teams: Array,
		teamLimit: Number
	},

	data() {
		return {
			userInfo: {},
			pageSize: 10,
			page: 1
		};
	},

	watch: {
		teams: {
			immediate: true,
			handler() {
				this.updateUsers();
			}
		}
	},

	methods: {
		updateUsers() {
			if (this.teams)
				this.teams.forEach(team => {
					team.members.forEach(async member => {
						this.$set(this.userInfo, member, await getUser(member));
					});
				});
		}
	}
};
</script>
