<template>
	<v-simple-table dark>
		<template v-slot:default>
			<thead>
				<tr>
					<th class="text-left">
						队伍名称
					</th>
					<th class="text-left">
						奖项
					</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="result in results" :key="result.name">
					<td>{{ result.name }}</td>
					<td>{{ result.award }}</td>
				</tr>
			</tbody>
		</template>
	</v-simple-table>
</template>

<script>
export default {
	props: {
		results: Array
	},
	computed: {
		test() {
			console.log("Results.vue:", this.results);
			return this.results;
		}
	}
};
</script>
