<template>
	<div v-if="users" class="pa-3">
		<verify-dialog v-model="verifyDialog" :user="currentUser" />
		<div
			v-for="user in users.slice((page - 1) * pageSize, page * pageSize)"
			:key="user.username"
			outlined
		>
			<v-divider class="my-4" />
			<v-row class="px-4" align="center">
				<v-avatar class="mr-1" size="50px">
					<v-icon size="50px">
						mdi-account-box
					</v-icon>
				</v-avatar>
				<div>
					<a style="font-size: 18px" :href="`/users/${user._id}`">{{
						user.username
					}}</a>
					<v-chip
						v-if="user.group === 'admin'"
						class="mb-1 ml-1"
						outlined
						small
						color="primary"
					>
						管理员
					</v-chip>
					<v-chip
						v-if="user.group === 'organizer'"
						class="mb-1 ml-1"
						outlined
						small
						color="primary"
					>
						组织者
					</v-chip>
					<v-chip
						v-if="user.status === 0 && user.group === 'user'"
						class="mb-1 ml-1"
						outlined
						small
						color="orange"
					>
						未验证
					</v-chip>
					<v-chip
						v-if="user.status === 2 && user.group === 'user'"
						class="mb-1 ml-1"
						outlined
						small
						color="orange"
					>
						待审核
					</v-chip>
					<v-chip
						v-if="user.status === 0 && user.group === 'organizer'"
						class="mb-1 ml-1"
						outlined
						small
						color="orange"
					>
						待批准
					</v-chip>
				</div>
				<v-spacer />
				<v-btn
					v-if="admin && user.status === 0 && user.group === 'organizer'"
					class="ma-1"
					dark
					color="green"
					@click="verifyOrganizer(user)"
				>
					批准组织者
				</v-btn>
				<v-btn
					v-if="admin && user.status === 2 && user.group === 'user'"
					class="ma-1"
					color="green"
					dark
					@click="verifyUser(user)"
					@update="$emit('update')"
				>
					审核
				</v-btn>
				<v-btn
					class="ma-1"
					color="primary"
					dark
					@click="$router.push(`/users/${user._id}`)"
				>
					查看
				</v-btn>
				<v-btn
					v-if="admin"
					dark
					class="ma-1"
					color="red"
					@click="deleteUser(user._id)"
				>
					删除
				</v-btn>
			</v-row>
		</div>
		<v-divider class="my-4" />

		<v-pagination
			class="my-3"
			v-model="page"
			:length="users && Math.ceil(users.length / pageSize)"
		/>
	</div>
</template>

<script>
import baseUrl from "@/utils/url";
import VerifyDialog from "@/components/VerifyDialog.vue";

export default {
	components: {
		VerifyDialog
	},

	props: {
		users: Array,
		admin: Boolean
	},

	data() {
		return {
			verifyDialog: false,
			currentUser: null,
			pageSize: 10,
			page: 1
		};
	},

	methods: {
		async deleteUser(id) {
			await this.$axios.$delete(`${baseUrl}/users/${id}`);
			this.$emit("update");
		},

		verifyUser(user) {
			this.currentUser = user;
			this.verifyDialog = true;
		},
		async verifyOrganizer(user) {
			console.log(
				await this.$axios.$patch(`${baseUrl}/users/${user._id}`, {
					key: "verify",
					value: true
				})
			);
			this.$emit("update");
			console.log("Verifyed");
		}
	}
};
</script>
