<template>
	<v-dialog
		:value="value"
		@input="val => $emit('input', val)"
		max-width="1000px"
	>
		<v-card style="overflow: hidden">
			<v-card-title>审核用户</v-card-title>

			<v-card-text class="mt-4 px-10 black--text">
				<v-row justify="center">
					<v-col cols="2">
						用户名：
					</v-col>
					<v-col cols="10">
						<strong>{{ user && user.username }}</strong>
					</v-col>
				</v-row>
				<v-row justify="center">
					<v-col cols="2">
						认证材料：
					</v-col>
					<v-col cols="10">
						<div
							v-for="file in files"
							:key="file.data"
							style="border: 1px solid #ccc"
							class="mb-6"
						>
							<vue-pdf v-if="file.isPdf" :src="file.data" style="width: 100%" />
							<v-img v-else :eager="true" :src="file.data" />
						</div>
					</v-col>
				</v-row>
				<v-row justify="center" class="pa-4">
					<v-btn class="ma-2" color="green" dark @click="verify(true)">
						通过
					</v-btn>
					<v-btn class="ma-2" color="red" dark @click="verify(false)">
						不通过
					</v-btn>
				</v-row>
			</v-card-text>
		</v-card>
	</v-dialog>
</template>

<script>
import baseUrl from "@/utils/url";

export default {
	props: ["user", "value"],

	data() {
		return {
			files: null
		};
	},

	watch: {
		user() {
			console.log("HELLO");
			this.files = null;
			this.fetchVerifyDocument();
		}
	},

	methods: {
		async fetchVerifyDocument() {
			if (!this.user) return;
			const res = await this.$axios.$get(
				`${baseUrl}/users/${this.user._id}/verify-document`
			);
			console.log(res.file);
			const files = res.file.map(file => {
				let mediatype;
				let isPdf;
				if (file.type === ".pdf") {
					mediatype = "application/pdf";
					isPdf = true;
				} else {
					mediatype = `image/${file.type.substr(1)}`;
					isPdf = false;
				}
				console.log({
					isPdf,
					data: `data:${mediatype};base64,${file.content}`
				});
				return {
					isPdf,
					data: `data:${mediatype};base64,${file.content}`
				};
			});

			this.files = files;
		},

		async verify(value) {
			await this.$axios.$patch(`${baseUrl}/users/${this.user._id}`, {
				key: "verify",
				value
			});
			console.log("Verifyed");
			this.$emit("update");
			this.$emit("input", false);
		}
	}
};
</script>
