<template>
	<div>
		<v-row class="px-8">
			<v-col cols="12" md="9">
				<v-card class="pa-5 ma-1">
					<v-row class="px-8 mt-3 mb-6">
						<span style="font-size: 22pt">
							<b>比赛列表</b>
						</span>
						<v-spacer />
						<v-btn
							v-if="userData && userData.group === 'organizer'"
							class="mt-1"
							dark
							color="primary"
							@click="$router.push('/competition/create')"
						>
							创建比赛
						</v-btn>
					</v-row>
					<v-row class="px-4">
						<el-select class="mr-6" placeholder="比赛状态" v-model="type">
							<el-option
								v-for="item in types"
								:key="item.key"
								:label="item.label"
								:value="item.value"
							>
							</el-option>
						</el-select>
						<div class="ma-2">
							<a
								:class="{ 'mr-4': true, 'grey--text': currentSort !== 'time' }"
								:style="{
									'font-weight': currentSort === 'time' ? 'bold' : undefined
								}"
								@click="sortBy('time')"
							>
								比赛时间
								<v-icon
									:color="currentSort !== 'time' ? 'grey' : undefined"
									:class="{ 'sort-rotate': sort.time === 1 }"
								>
									mdi-menu-down
								</v-icon>
							</a>
							<a
								:class="{ 'mr-4': true, 'grey--text': currentSort !== 'count' }"
								:style="{
									'font-weight': currentSort === 'count' ? 'bold' : undefined
								}"
								@click="sortBy('count')"
							>
								参赛人数
								<v-icon
									:color="currentSort !== 'count' ? 'grey' : undefined"
									:class="{ 'sort-rotate': sort.count === 1 }"
								>
									mdi-menu-down
								</v-icon>
							</a>
							<a
								:class="{ 'mr-4': true, 'grey--text': currentSort !== 'money' }"
								:style="{
									'font-weight': currentSort === 'money' ? 'bold' : undefined
								}"
								@click="sortBy('money')"
							>
								比赛奖金
								<v-icon
									:color="currentSort !== 'money' ? 'grey' : undefined"
									:class="{ 'sort-rotate': sort.money === 1 }"
								>
									mdi-menu-down
								</v-icon>
							</a>
						</div>
					</v-row>
					<competition-list :competitions="sortedCompetitions" />
				</v-card>
			</v-col>
			<v-col cols="12" md="3">
				<v-card class="pa-5 ma-1">
					<template v-if="!advanced">
						<v-text-field
							prepend-icon="mdi-magnify"
							style="flex: initial"
							label="搜索"
							v-model="simpleSearch"
						>
						</v-text-field>
						<v-row>
							<v-spacer />
							<a
								style="height: 28px"
								@click="advanced = true"
								class="mt-2 mr-3 subtitle-2"
							>
								高级搜索
							</a>
							<v-btn dark class="mr-3" @click="fetchData" color="primary">
								搜索
							</v-btn>
						</v-row>
					</template>

					<template v-else>
						<div>
							<v-text-field
								prepend-icon="mdi-magnify"
								label="标题"
								style="flex: initial"
								v-model="titleSearch"
							/>
							<v-text-field
								prepend-icon="mdi-magnify"
								label="组织者"
								style="flex: initial"
								v-model="organizerSearch"
							/>
							<v-text-field
								prepend-icon="mdi-magnify"
								label="比赛描述"
								style="flex: initial"
								v-model="descriptionSearch"
							/>
						</div>
						<v-row>
							<v-spacer />
							<a
								style="height: 28px"
								@click="advanced = false"
								class="mt-2 mr-3 subtitle-2"
							>
								普通搜索
							</a>
							<v-btn dark class="mr-3" @click="fetchData" color="primary">
								搜索
							</v-btn>
						</v-row>
					</template>
				</v-card>
			</v-col>
		</v-row>
	</div>
</template>

<style scoped>
.sort-rotate {
	transform: rotate(180deg);
}
</style>

<script>
import { mapState } from "vuex";
import CompetitionList from "@/components/CompetitionList.vue";
import baseUrl from "@/utils/url";
import moment from "moment";
import { statusChip, COMPETITION_STATUS } from "@/utils/competition.js";

export default {
	components: {
		CompetitionList
	},
	data() {
		return {
			competitions: [],
			simpleSearch: "",
			descriptionSearch: "",
			organizerSearch: "",
			titleSearch: "",
			advanced: false,
			sort: {
				time: 0,
				count: 0,
				money: 0
			},
			currentSort: "",
			types: [
				{
					value: 0,
					label: "所有比赛"
				},
				{
					value: 3,
					label: "报名中"
				},
				{
					value: 4,
					label: "进行中"
				},
				{
					value: 5,
					label: "已结束"
				}
			],
			type: 0
		};
	},

	computed: {
		...mapState(["userData"]),
		sortedCompetitions() {
			if (this.currentSort === "time") {
				return this.filter()
					.slice()
					.sort((a, b) => {
						return moment(a.competitionDate.begin).isBefore(
							b.competitionDate.begin
						)
							? -this.sort.time
							: this.sort.time;
					});
			} else if (this.currentSort === "money") {
				return this.filter()
					.slice()
					.sort((a, b) => this.sort.money * (a.money - b.money));
			} else if (this.currentSort === "count") {
				return this.filter()
					.slice()
					.sort(
						(a, b) => this.sort.count * (this.userCount(a) - this.userCount(b))
					);
			} else return this.filter();
		}
	},

	mounted() {
		this.fetchData();
	},

	methods: {
		filter() {
			if (this.type === 0) return this.competitions;
			return this.competitions.filter(
				comp =>
					statusChip(comp.status, comp.enrollDate, comp.competitionDate)
						.value === this.type
			);
		},
		sortBy(key) {
			console.log(this.currentSort, this.sort);
			if (this.currentSort === key) {
				this.$set(
					this.sort,
					this.currentSort,
					this.sort[this.currentSort] * -1
				);
				return;
			}

			this.currentSort = key;
			if (this.sort[this.currentSort] === 0)
				this.$set(this.sort, this.currentSort, -1);
		},
		userCount(competition) {
			return competition.teams.reduce((acc, cur) => {
				return acc + cur.members.length;
			}, 0);
		},
		async fetchData() {
			console.log("fetch data");
			const data = await this.$axios.$get(
				`${baseUrl}/competitions`,
				this.advanced
					? {
							params: {
								title: this.titleSearch,
								organizer: this.organizerSearch,
								description: this.descriptionSearch
							}
					  }
					: {
							params: {
								title: this.simpleSearch,
								organizer: this.simpleSearch,
								description: this.simpleSearch,
								or: true
							}
					  }
			);
			this.competitions = data.competitions;
			console.log(data.competitions);
		}
	}
};
</script>
