<template>
	<div>
		<v-carousel class="pa-5" height="auto" hide-delimiters min-heigth="initial">
			<v-carousel-item
				v-for="(competition, i) in competitions.slice(-5).reverse()"
				:key="i"
				@click="$router.push(`/competition/${competition._id}`)"
			>
				<v-img
					v-if="competition.cover"
					:src="`/pic/${competition.cover}`"
					width="100%"
					aspect-ratio="3"
				/>
				<div v-else style="position: relative">
					<v-img
						:src="`/pic/cover/default.png`"
						width="100%"
						aspect-ratio="3"
					/>
					<div class="cover-layer" />
					<div class="cover-text">
						<div class="display-1 text-center mb-4">
							<b>{{ competition.title }}</b>
						</div>
						<div class="headline text-center mb-3">
							主办方：{{ competition.organizerName }}
						</div>
						<div class="text-center" style="font-size: 18px">
							报名时间：
							{{ formatDate(competition.enrollDate.begin) }} -
							{{ formatDate(competition.enrollDate.end) }}
							<br />
							比赛时间：
							{{ formatDate(competition.competitionDate.begin) }} -
							{{ formatDate(competition.competitionDate.end) }}
						</div>
					</div>
				</div>
			</v-carousel-item>
		</v-carousel>

		<competition-list card :competitions="competitions.slice().reverse()" />
	</div>
</template>

<script>
import CompetitionList from "@/components/CompetitionList.vue";
import baseUrl from "@/utils/url";
import { formatDate } from "@/utils/date";

export default {
	components: {
		CompetitionList
	},
	data() {
		return {
			competitions: []
		};
	},

	mounted() {
		this.fetchData();
	},

	methods: {
		formatDate,
		async fetchData() {
			const data = await this.$axios.$get(`${baseUrl}/competitions`);
			this.competitions = data.competitions;
			console.log(data.competitions);
		}
	}
};
</script>
