<template>
	<div class="team">
		<v-card max-width="1000px" style="margin-left: auto; margin-right: auto">
			<v-tabs grow height="56px">
				<v-tab class="title" exact nuxt :to="`/team?competition=${id}`">
					创建队伍
				</v-tab>
				<v-tab class="title" nuxt :to="`/team?competition=${id}#join`">
					加入队伍
				</v-tab>
			</v-tabs>
			<v-divider />

			<v-card-text v-if="route === ''">
				<v-row justify="center">
					<v-col cols="2">
						参加的比赛：
					</v-col>
					<v-col cols="5" style="padding-top: 30px">
						<nuxt-link :to="`/competition/${this.id}`">
							{{ competition.title }}
						</nuxt-link>
					</v-col>
				</v-row>
				<v-row justify="center">
					<v-col cols="2">
						团队名称：
					</v-col>
					<v-col cols="5">
						<v-text-field
							v-model="team.name"
							:rules="[value => !!value || '团队名称不能为空']"
							counter="20"
							outlined
						>
						</v-text-field>
					</v-col>
				</v-row>
				<v-row justify="center">
					<v-col cols="2">
						团队介绍：
					</v-col>
					<v-col cols="5">
						<v-textarea
							rows="4"
							counter="40"
							placeholder="不超过40个字"
							outlined
							:rules="[value => !!value || '团队介绍不能为空']"
						>
						</v-textarea>
					</v-col>
				</v-row>
				<v-row justify="center">
					<v-col cols="2">
						可申请加入：
					</v-col>
					<v-col cols="5">
						<v-switch v-model="team.join"></v-switch>
					</v-col>
				</v-row>
				<v-row justify="center">
					<v-col cols="2">
						指导老师姓名：
					</v-col>
					<v-col cols="5">
						<v-text-field outlined v-model="team.teacher.name"> </v-text-field>
					</v-col>
				</v-row>
				<v-row justify="center">
					<v-col cols="2">
						指导老师所在大学：
					</v-col>
					<v-col cols="5">
						<v-text-field
							v-model="team.teacher.university"
							outlined
							placeholder="某市某某大学"
						>
						</v-text-field>
					</v-col>
				</v-row>
				<v-row justify="center">
					<v-col cols="2">
						指导老师邮箱：
					</v-col>
					<v-col cols="5">
						<v-text-field
							v-model="team.teacher.email"
							outlined
							placeholder="邮箱：xxx@xxx.edu.xx"
						>
						</v-text-field>
					</v-col>
				</v-row>
				<v-row justify="center">
					<v-col cols="8" style="text-align: center">
						<v-btn dark color="primary" min-width="400px" @click="submit">
							提交
						</v-btn>
					</v-col>
				</v-row>
			</v-card-text>
			<v-card-text v-if="route === '#join'">
				<team-list
					:teams="competition.teams"
					:team-limit="competition.options && competition.options.teamLimit"
					@jointeam="val => joinTeam(val)"
				/>
			</v-card-text>
		</v-card>
	</div>
</template>

<script>
import baseUrl from "@/utils/url.js";
import { getCompetition } from "@/utils/cache";
import TeamList from "@/components/TeamList.vue";

export default {
	components: {
		TeamList
	},
	data() {
		return {
			route: "",
			team: {
				leader: "",
				cover: "",
				name: "",
				teacher: {
					name: "",
					email: "",
					university: ""
				}
			},
			competition: {}
		};
	},
	computed: {
		id() {
			return this.$route.query.competition;
		}
	},
	created() {
		// Todo: use router to transfer competition info
		console.log("this.$router.query", this.$route.query);
		this.fetchData();
	},
	methods: {
		async fetchData(force = false) {
			this.competition = await getCompetition(this.id, force);
		},
		async submit() {
			console.log("id&team:", this.id, this.team);
			const res = await this.$axios.$patch(
				`${baseUrl}/competitions/${this.id}`,
				{
					key: "create-team",
					value: {
						...this.team
					}
				}
			);
			console.log("res", res);
			if (res.success) {
				await this.fetchData(true);
				this.$router.push(`/competition/${this.id}`);
			} else {
				// TODO: Add error handling
			}
		},
		joinTeam(teamId) {
			this.$router.push({
				path: "/competition/teaminfo",
				query: {
					// ...team,
					competitionId: this.id,
					teamId
				}
			});
		}
	},
	beforeRouteUpdate(to, from, next) {
		// console.log('beforeRouteUpdate:this.route', to, from, next)
		this.route = to.hash;
		next();
	}
};
</script>

<style>
.col-2 {
	padding-top: 30px;
}
a.v-tab {
	font-weight: 1100;
}
</style>
