.v-application a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.v-application a:hover {
  color: #1976d2;
}

html body #app.v-application * {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB","Microsoft YaHei", "微软雅黑", Arial, sans-serif !important;
}

.cover-layer {
	top: 0;
	left: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}
.cover-text {
	position: absolute;
	top: 50%;
	left: 50%;
	color: white;
	transform: translate(-50%, -50%);
}
