<template>
  <div class="login" style="justify-content: space-between;">
    <text>\n</text>
    <van-row style="text-align: center;">
      <van-col span="24">
        <van-image
          width="5rem"
          height="5rem"
          src="../../../static/thu.png"
        ></van-image>
      </van-col>
      <van-col span="24">
        <div style="text-align: center; margin-bottom: 2rem; margin-top: 2rem;">
          <text style="font-size: large;">Compete++</text>
        </div>
      </van-col>
      <text>\n</text>
      <van-col offset="2" span="20">
        <van-cell-group>
          <van-field
            :value="username"
            required
            clearable
            label="用户名"
            icon="question-o"
            placeholder="请输入用户名"
            bind:click-icon="onClickIcon"
            @change="event => username = event.mp.detail"
          />
        </van-cell-group>
      </van-col>
      <text>\n\n</text>
      <van-col offset="2" span="20">
        <van-cell-group>
          <van-field
              :value="password"
              type="password"
              clearable
              label="密码"
              placeholder="请输入密码"
              required
              :border="false"
              @change="event => password = event.mp.detail"
            />
        </van-cell-group>
      </van-col>
      <van-col span="24">
        <div class="item submit" style="text-align: center; margin-top: 3rem; margin-bottom: 1rem;">
            <van-button type="primary" style="width: 70%" @click="login">登录绑定</van-button>
        </div>
      </van-col>
      <van-col span="24">
        <text style="font-size: small;">登录即表示同意《Compete++用户协议》</text>
      </van-col>
    </van-row>
    <div style="text-align:center;">
      <div style="position: fixed; bottom: 1rem; left: 50%; transform: translateX(-50%);">
        <text style="font-size: small;">Copyright@2019-2020 Compete++</text>
      </div>
    </div>
    
    <!-- <button @click="test">test</button> -->
  </div>
</template>

<script>
import fly from '../http/fly.js'
import cookies from 'weapp-cookie'
import { mapMutations } from 'vuex'

export default {
  data () {
    return {
      canIUse: wx.canIUse('button.open-type.getUserInfo'),
      username: 'cccc',
      password: 'cccccccc'
    }
  },
  onLoad () {
    var _this = this
    wx.login({
      success: res => {
        console.log('wx.login es:', res)
        _this.code = res.code
      }
    })
  },
  methods: {
    ...mapMutations['clear'],
    login () {
      var _this = this
      console.log('index this.code:', this.code, this.username, this.password)
      fly.put('/account', {
          code: _this.code,
          username: _this.username,
          password: _this.password
        }).then((res) => {
         if (res.success) {
           _this.success()
          }
       })
    },
    success () {
      console.log('success login')
      this.$store.commit('clear')
      this.$router.push({path: '/pages/self/main', reLaunch: true})
    },
    test () {
      console.log(this.username, this.password)
    }
  }
}
</script>
