<template>
	<v-card v-if="competition">
		<alert
			title="提示"
			:content="alertContent"
			:value="showAlert"
			@input="val => (showAlert = val)"
		/>
		<v-dialog max-width="800px" v-model="uploadDialog">
			<v-card>
				<v-card-title>
					提交比赛结果
				</v-card-title>
				<v-card-text>
					<v-row>
						<v-col cols="12" sm="12">
							<v-row>
								<v-col cols="8">
									<v-file-input
										@change="showScoreResult"
										placeholder="上传比赛分数 (csv格式)"
									/>
								</v-col>
								<v-col cols="4">
									<div style="margin-top: 30px;">
										<a target="_blank" href="/static/score.csv">
											下载比赛分数模板
										</a>
									</div>
								</v-col>
							</v-row>
							<upload-score :results="scoreResults"></upload-score>
						</v-col>
						<v-col cols="12" sm="12">
							<v-row>
								<v-col cols="8">
									<v-file-input
										@change="showAwardResult"
										placeholder="上传比赛获奖 (csv格式)"
									/>
								</v-col>
								<v-col cols="4">
									<div style="margin-top: 30px;">
										<a target="_blank" href="/static/award.csv">
											下载获奖名单模板
										</a>
									</div>
								</v-col>
							</v-row>
							<upload-award :results="awardResults"></upload-award>
						</v-col>
					</v-row>
					<v-row class="pa-3" justify="end">
						<v-btn color="primary mr-2" dark @click="uploadResult">
							确认
						</v-btn>
						<v-btn @click="uploadDialog = false">
							取消
						</v-btn>
					</v-row>
				</v-card-text>
			</v-card>
		</v-dialog>
		<post-dialog v-model="postDialog" @update="fetchData(true)" />
		<certificate-dialog
			v-model="certificateDialog"
			:competition-id="$route.params.id"
		/>
		<div style="position: relative">
			<v-img v-if="competition.cover" :src="`/pic/${competition.cover}`">
			</v-img>
			<div v-else>
				<v-img src="/pic/cover/default.png" width="100%" aspect-ratio="3" />
				<div class="cover-layer" />
				<div class="cover-text">
					<div class="display-1 text-center mb-4">
						<b>{{ competition.title }}</b>
					</div>
					<div class="headline text-center mb-3">
						主办方：{{ competition.organizerName }}
					</div>
					<div class="text-center" style="font-size: 18px">
						报名时间：
						{{ formatDate(competition.enrollDate.begin) }} -
						{{ formatDate(competition.enrollDate.end) }}
						<br />
						比赛时间：
						{{ formatDate(competition.competitionDate.begin) }} -
						{{ formatDate(competition.competitionDate.end) }}
					</div>
				</div>
			</div>
		</div>

		<div class="pa-6">
			<v-row class="pt-4 px-4">
				<div class="mb-4 display-1">
					<strong>{{ competition.title }}</strong>
					<span
						:set="
							(status = statusChip(
								competition.status,
								competition.enrollDate,
								competition.competitionDate
							))
						"
					>
						<v-chip class="ml-1 mb-1" :color="status.color">
							{{ status.text }}
						</v-chip>
					</span>
				</div>
			</v-row>

			<div class="ml-1 mb-4">
				<span style="font-size: 14pt">
					<b>主办方</b>： {{ competition.organizerName }}
				</span>
			</div>

			<div style="font-size: 15px; color: rgb(0, 0, 0, 0.64)">
				<div class="abstract mb-3 ml-2" max-width="300px">
					<span>
						{{ competition.abstract }}
					</span>
				</div>

				<div class="ml-1" v-if="competition.enrollDate">
					<v-icon class="mb-1">
						mdi-clock-outline
					</v-icon>
					报名时间：
					{{ formatDate(competition.enrollDate.begin) }} -
					{{ formatDate(competition.enrollDate.end) }}
				</div>
				<div class="ml-1" v-if="competition.competitionDate">
					<v-icon class="mb-1">
						mdi-clock-outline
					</v-icon>
					比赛时间：
					{{ formatDate(competition.competitionDate.begin) }} -
					{{ formatDate(competition.competitionDate.end) }}
				</div>
			</div>
			<v-row>
				<v-stepper v-model="step" style="flex-grow: 1; box-shadow: initial;">
					<v-stepper-header>
						<v-stepper-step :complete="step > 1" step="1">
							发布
						</v-stepper-step>
						<v-divider />
						<v-stepper-step :complete="step > 2" step="2">
							报名
						</v-stepper-step>
						<v-divider />
						<v-stepper-step :complete="step > 3" step="3">
							进行
						</v-stepper-step>
						<v-divider />
						<v-stepper-step :complete="step > 4" step="4">
							结束
						</v-stepper-step>
					</v-stepper-header>
				</v-stepper>
			</v-row>

			<v-row class="px-4">
				<v-spacer />
				<div>
					<v-btn
						dark
						v-if="
							userData &&
								userData.group === 'user' &&
								statusChip(
									competition.status,
									competition.enrollDate,
									competition.competitionDate
								).text === '报名中' &&
								!joined
						"
						width="80px"
						color="primary"
						@click="createTeam"
					>
						报名
					</v-btn>
					<v-hover
						v-else-if="
							userData &&
								userData.group === 'user' &&
								statusChip(
									competition.status,
									competition.enrollDate,
									competition.competitionDate
								).text === '报名中' &&
								joined
						"
						v-slot:default="{ hover }"
						:open-delay="150"
						:close-delay="150"
					>
						<v-btn
							dark
							width="80px"
							:color="hover ? 'red' : 'primary'"
							@click="hover ? exitCompetition() : createTeam()"
						>
							{{ hover ? "取消报名" : "已报名" }}
						</v-btn>
					</v-hover>
					<v-btn
						v-if="
							userData &&
								userData.group === 'user' &&
								statusChip(
									competition.status,
									competition.enrollDate,
									competition.competitionDate
								).text === '进行中' &&
								!joined
						"
						width="80px"
						disabled
					>
						未参加
					</v-btn>
					<v-btn
						v-else-if="
							userData &&
								userData.group === 'user' &&
								(statusChip(
									competition.status,
									competition.enrollDate,
									competition.competitionDate
								).text === '进行中' ||
									statusChip(
										competition.status,
										competition.enrollDate,
										competition.competitionDate
									).text === '已结束') &&
								joined
						"
						dark
						width="80px"
						disabled
					>
						已参加
					</v-btn>
				</div>

				<!-- Organizer -->
				<div v-if="isOrganizer(userData, competition.organizer)">
          <v-btn
            color="blue lighten-1"
            class="ma-1"
            @click="
              $router.push(`/competition/edit?id=${competition._id}`)
            "
            dark
          >
            修改比赛信息
          </v-btn>
					<v-btn
						v-if="competition.status === COMPETITION_STATUS.CONFIRMING"
						dark
						color="primary"
						class="ma-1"
						@click="publish"
					>
						发布比赛
					</v-btn>
					<template
						v-if="
							statusChip(
								competition.status,
								competition.enrollDate,
								competition.competitionDate
							).text === '已结束' ||
								statusChip(
									competition.status,
									competition.enrollDate,
									competition.competitionDate
								).text === '进行中'
						"
					>
						<v-btn dark color="green" class="ma-1" @click="uploadDialog = true">
							提交获奖名单
						</v-btn>
						<v-btn
							dark
							color="primary"
							class="ma-1"
							@click="certificateDialog = true"
						>
							上传证书底图
						</v-btn>
					</template>
				</div>
			</v-row>
			<v-tabs>
				<v-tab exact nuxt :to="`/competition/${id}`">
					介绍
				</v-tab>
				<v-tab nuxt :to="`/competition/${id}#teams`">
					参赛队伍
				</v-tab>
				<v-tab nuxt :to="`/competition/${id}#discussion`">
					讨论区
				</v-tab>
				<v-tab nuxt :to="`/competition/${id}#awards`">
					获奖名单
				</v-tab>
			</v-tabs>
			<v-divider />

			<div v-if="route === ''">
				<v-card class="mt-4" outlined>
					<v-tabs>
						<v-tab>赛事介绍</v-tab>
						<v-tab>正式赛题</v-tab>

						<v-tab-item>
							<v-divider />
							<v-row
								class="px-6 my-4"
								v-if="isOrganizer(userData, competition.organizer)"
							>
								<v-spacer />
								<v-btn
									v-show="
										!problemEditor &&
											isOrganizer(userData, competition.organizer)
									"
									class="mr-2"
									color="green lighten-1"
									@click="
										(introductionEditor = true),
											(introduction = competition.introduction)
									"
									dark
								>
									<v-icon>mdi-plus</v-icon> 修改赛事介绍
								</v-btn>
							</v-row>
							<v-divider />
							<div class="px-4" v-if="introductionEditor">
								<rich-text v-model="introduction"></rich-text>
								<v-row class="pa-4">
									<v-spacer />
									<v-btn class="mr-4" @click="introductionEditor = false">
										放弃修改
									</v-btn>
									<v-btn
										color="primary"
										@click="updateRichtext('introduction')"
									>
										保存修改
									</v-btn>
								</v-row>
							</div>
							<div
								class="text-center title my-6 grey--text"
								v-else-if="!competition.introduction"
							>
								暂无赛题
							</div>
							<div class="pa-4" v-else v-html="competition.introduction"></div>
						</v-tab-item>

						<v-tab-item>
							<v-divider />
							<v-row
								class="px-6 my-4"
								v-if="isOrganizer(userData, competition.organizer)"
							>
								<v-spacer />
								<v-btn
									v-show="
										!problemEditor &&
											isOrganizer(userData, competition.organizer)
									"
									class="mr-2"
									color="green lighten-1"
									@click="
										(problemEditor = true), (problem = competition.problem)
									"
									dark
								>
									<v-icon>mdi-plus</v-icon> 修改赛题
								</v-btn>
							</v-row>
							<v-divider />

							<div class="px-4" v-if="problemEditor">
								<rich-text v-model="problem"></rich-text>
								<v-row class="pa-4">
									<v-spacer />
									<v-btn class="mr-4" @click="problemEditor = false">
										放弃修改
									</v-btn>
									<v-btn color="primary" @click="updateRichtext('problem')">
										保存修改
									</v-btn>
								</v-row>
							</div>
							<div
								class="text-center title my-6 grey--text"
								v-else-if="!competition.problem"
							>
								暂无赛题
							</div>
							<div class="pa-4" v-else v-html="competition.problem"></div>
						</v-tab-item>
					</v-tabs>
				</v-card>
			</div>

			<div v-else-if="route === '#teams'">
				<v-card class="mt-4" outlined>
					<team-list
						:teams="competition.teams"
						:team-limit="competition.options && competition.options.teamLimit"
						@jointeam="val => joinTeam(val)"
					/>
				</v-card>
			</div>

			<div v-else-if="route === '#discussion'">
				<v-row class="pr-2 pt-4">
					<v-spacer />
					<v-btn
						v-if="joined || isOrganizer(userData, competition.organizer)"
						@click="postDialog = true"
						class="mr-2"
						color="green"
						dark
					>
						<v-icon>mdi-plus</v-icon> 新建帖子
					</v-btn>
				</v-row>
				<post-list
					:posts="competition.posts"
					:competition-id="id"
					:admin="isOrganizer(userData, competition.organizer)"
					@update="fetchData(true)"
				/>
			</div>

			<div v-else-if="route === '#awards'">
				<v-row class="pr-2 pt-4">
					<v-spacer />
					<v-btn
						v-if="
							userData &&
								userData.group === 'user' &&
								statusChip(
									competition.status,
									competition.enrollDate,
									competition.competitionDate
								).value >= 4 &&
								joined
						"
						dark
						@click="downloadCertificate"
						class="mr-2"
						color="green"
						:loading="this.downloading"
					>
						下载获奖证书
					</v-btn>
				</v-row>

				<award-list :awards="awards" />
			</div>
		</div>
	</v-card>
</template>

<script>
import baseUrl from "@/utils/url";
import TeamList from "@/components/TeamList.vue";
import PostList from "@/components/PostList.vue";
import AwardList from "@/components/AwardList.vue";
import PostDialog from "@/components/PostDialog.vue";
import CertificateDialog from "@/components/CertificateDialog.vue";
import { statusChip, COMPETITION_STATUS } from "@/utils/competition";
import { mapState } from "vuex";
import UploadScore from "@/components/UploadScore.vue";
import UploadAward from "@/components/UploadAward.vue";
import RichText from "@/components/RichText.vue";
import parse from "csv-parse/lib/sync.js";
import Alert from "@/components/Alert.vue";
import { formatDate } from "@/utils/date";
import { getCompetition, getUser } from "@/utils/cache";
import { isOrganizer } from "@/utils/user";
import FileSaver from "file-saver";

export default {
	components: {
		Alert,
		TeamList,
		PostList,
		PostDialog,
		UploadScore,
		UploadAward,
		CertificateDialog,
		AwardList,
		RichText
	},
	data() {
		return {
			competition: null,
			problemEditor: false,
			downloading: false,
			problem: "",
			introductionEditor: false,
			introduction: "",
			route: "",
			postDialog: false,
			COMPETITION_STATUS,
			awardResults: [],
			scoreResults: [],
			uploadDialog: false,
			certificateDialog: false,
			showAlert: false,
			alertContent: "",
			awards: null,
			userInfo: {},
			state: 0
		};
	},

	computed: {
		...mapState(["userData"]),
		id() {
			return this.$route.params.id;
		},
		joined() {
			return (
				this.competition.teams &&
				this.competition.teams.findIndex(
					team =>
						this.userData &&
						team.members.findIndex(member => member === this.userData._id) !==
							-1
				) !== -1
			);
		}
	},
	mounted() {
		this.fetchData();
		this.route = this.$route.hash;
	},
	beforeRouteUpdate(to, from, next) {
		this.route = to.hash;
		next();
	},
	methods: {
		isOrganizer,
		formatDate,
		statusChip,
		async fetchData(force = false) {
			this.competition = await getCompetition(this.id, force);
			console.log("Competition:", this.competition);
			console.log(Boolean(this.competition.cover));
			this.step = statusChip(
				this.competition.status,
				this.competition.enrollDate,
				this.competition.competitionDate
			).value;
			console.log(this.step);
			this.$set(
				this.userInfo,
				this.competition.organizer,
				await getUser(this.competition.organizer, force)
			);
			await this.fetchAwards();
		},
		userCount(competition) {
			return competition.teams.reduce((acc, cur) => {
				return acc + cur.members.length;
			}, 0);
		},

		teamCount(competition) {
			return competition.teams.length;
		},

		async fetchAwards() {
			const data = await this.$axios.$get(
				`${baseUrl}/competitions/${this.id}/award`
			);
			if (data.success) {
				this.awards = data.data;
			}
			console.log(data);
		},

		async exitCompetition() {
			await this.$axios.$patch(`${baseUrl}/competitions/${this.id}`, {
				key: "exit-competition"
			});
			await this.fetchData(true);
		},

		createTeam() {
			this.$router.push(`/team?competition=${this.id}`);
		},
		joinTeam(teamId) {
			this.$router.push({
				path: "/competition/teaminfo",
				query: {
					// ...team,
					competitionId: this.id,
					teamId
				}
			});
			// this.$router.push(`/competition/teaminfo?id=${this.cid}&team=${event}`);
		},
		showScoreResult(value) {
			if (!value) {
				this.scoreResults = [];
				return;
			}
			console.log("upload", value);
			const reader = new FileReader();
			reader.readAsText(value, "utf-8");
			reader.onloadend = () => {
				this.scoreResults = parse(reader.result, {
					columns: true,
					skip_empty_lines: true,
					delimiter: "\t"
				});
			};
		},
		showAwardResult(value) {
			if (!value) {
				this.awardResults = [];
				return;
			}
			console.log("upload", value);
			const reader = new FileReader();
			reader.readAsText(value, "utf-8");
			reader.onloadend = () => {
				this.awardResults = parse(reader.result, {
					columns: true,
					skip_empty_lines: true,
					delimiter: "\t"
				});
			};
		},
		async uploadResult() {
			if (!this.scoreResults.length && !this.awardResults.length) {
				this.showAlert = true;
				this.alertContent = "上传结果为空";
				return;
			}

			let success = true;
			if (this.scoreResults.length) {
				const res = await this.$axios.$patch(
					`${baseUrl}/competitions/${this.id}`,
					{
						key: "grade",
						value: this.scoreResults
					}
				);
				if (!res.success) success = false;
			}
			if (this.awardResults.length) {
				const res = await this.$axios.$patch(
					`${baseUrl}/competitions/${this.id}`,
					{
						key: "award",
						value: this.awardResults
					}
				);
				if (!res.success) success = false;
			}

			if (success) {
				this.showAlert = true;
				this.alertContent = "上传成功";
				this.uploadDialog = false;
			} else {
				this.showAlert = true;
				this.alertContent = "上传失败";
			}
		},
		async downloadCertificate() {
			if (this.userData) {
				this.downloading = true;
				const res = await this.$axios.$get(
					`${baseUrl}/competitions/${this.id}/certificate/${this.userData._id}`
				);
				FileSaver.saveAs(res.image, "证书.jpg");
				console.log(res);
				this.downloading = false;
			}
		},

		async updateRichtext(mode) {
			if (mode === "problem") {
				await this.$axios.$patch(`${baseUrl}/competitions/${this.id}`, {
					key: "problem",
					value: this.problem
				});
				this.problemEditor = false;
				await this.fetchData(true);
			} else if (mode === "introduction") {
				await this.$axios.$patch(`${baseUrl}/competitions/${this.id}`, {
					key: "introduction",
					value: this.introduction
				});
				this.introductionEditor = false;
				await this.fetchData(true);
			}
		},

		async publish() {
			await this.$axios.$patch(`${baseUrl}/competitions/${this.id}`, {
				key: "publish"
			});
			await this.fetchData(true);
		}
	}
};
</script>
