<template>
	<div>
		<div class="my-5 mb-7" style="max-width: 800px; margin: auto">
			<v-stepper v-model="competition.status" style="">
				<v-stepper-header>
					<v-stepper-step
						:complete="competition.status === COMPETITION_STATUS.CREATING"
						step="1"
					>
						创建比赛
						<small class="mt-1">填写比赛信息</small>
					</v-stepper-step>

					<v-divider />

					<v-stepper-step
						:complete="competition.status === COMPETITION_STATUS.CONFIRMING"
						step="2"
					>
						发布比赛
						<small class="mt-1">确定发布比赛</small>
					</v-stepper-step>
					<v-divider />
					<v-stepper-step
						:complete="competition.status === COMPETITION_STATUS.PUBLISHED"
						step="3"
					>
						查看比赛
						<small class="mt-1">比赛已发布</small>
					</v-stepper-step>
				</v-stepper-header>
			</v-stepper>
		</div>
		<v-card class="pa-5">
			<v-form
				class="pa-5"
				v-if="competition.status === COMPETITION_STATUS.CREATING"
			>
				<!--Cover-->
				<v-row class="image input">
					<v-col cols="2">
						<v-subheader class="subtitle-1">
							竞赛封面图：
						</v-subheader>
					</v-col>

					<v-col>
						<v-file-input
							accept="image/png, image/jpeg, image/bmp"
							hint="封面图高宽比大致为1:3"
							persistent-hint
							prepend-icon=""
							v-model="competition.file"
							placeholder="留空则使用默认底图"
							outlined
						></v-file-input>
					</v-col>
				</v-row>
				<!--thumbnail-->
				<v-row class="image input">
					<v-col cols="2">
						<v-subheader class="subtitle-1">
							封面缩略图：
						</v-subheader>
					</v-col>

					<v-col>
						<v-file-input
							accept="image/png, image/jpeg, image/bmp"
							hint="缩略图高与宽大致相等"
							persistent-hint
							prepend-icon=""
							v-model="competition.thumbnail"
							placeholder="留空则使用默认缩略图"
							outlined
						></v-file-input>
					</v-col>
				</v-row>
				<!--Title-->
				<v-row>
					<v-col cols="2">
						<v-subheader class="subtitle-1">
							竞赛名称：
						</v-subheader>
					</v-col>
					<v-col>
						<v-text-field
							v-model="competition.title"
							:rules="[rules.titleRequired]"
							outlined
						></v-text-field>
					</v-col>
				</v-row>
				<!--Organizer-->
				<v-row>
					<v-col cols="2">
						<v-subheader class="subtitle-1">
							竞赛主办方：
						</v-subheader>
					</v-col>
					<v-col>
						<v-text-field
							v-model="competition.organizerName"
							:rules="[rules.organizerRequired]"
							outlined
						></v-text-field>
					</v-col>
				</v-row>
				<v-row>
					<v-col cols="2">
						<v-subheader class="subtitle-1">
							队伍人数限制：
						</v-subheader>
					</v-col>
					<v-col>
						<el-input-number v-model="competition.options.teamLimit" :min="1" />
					</v-col>
				</v-row>
				<!--Enroll Time-->
				<v-row>
					<v-col cols="12" md="6">
						<DateTime
							date-title="报名开始时间"
							v-model="competition.enrollDate.begin"
						></DateTime>
					</v-col>
					<v-col cols="12" md="6">
						<DateTime
							date-title="报名结束时间"
							:min-date="competition.enrollDate.begin"
							error-info="报名结束时间需比开始时间早"
							v-model="competition.enrollDate.end"
						></DateTime>
					</v-col>
				</v-row>
				<!--Competition Date-->
				<v-row>
					<v-col cols="12" md="6">
						<DateTime
							date-title="比赛开始时间"
							v-model="competition.competitionDate.begin"
						></DateTime>
					</v-col>
					<v-col cols="12" md="6">
						<DateTime
							date-title="比赛结束时间"
							:min-date="competition.competitionDate.begin"
							error-info="比赛结束时间需比开始时间早"
							v-model="competition.competitionDate.end"
						></DateTime>
					</v-col>
				</v-row>
				<!--abstract-->
				<v-row>
					<v-col cols="2">
						<v-subheader class="subtitle-1">
							赛事摘要：
						</v-subheader>
					</v-col>
					<v-col>
						<v-text-field
							outlined
							v-model="competition.abstract"
						></v-text-field>
					</v-col>
				</v-row>
				<!--Feature-->
				<v-row>
					<v-col cols="2">
						<v-subheader class="subtitle-1">
							比赛特性：
						</v-subheader>
					</v-col>
					<v-col>
						<v-text-field
							outlined
							v-model="competition.feature"
							placeholder="如：￥10000+团队孵化+..."
						></v-text-field>
					</v-col>
				</v-row>
				<!--Introduction-->
				<v-row>
					<v-col cols="2">
						<v-subheader class="subtitle-1">
							赛事介绍：
						</v-subheader>
					</v-col>
					<v-col>
						<rich-text v-model="competition.introduction"></rich-text>
					</v-col>
				</v-row>
				<!--Button to submit-->
				<v-row justify="center">
					<v-btn dark color="primary" @click.stop="submit" min-width="200px">
						提交
					</v-btn>
				</v-row>
			</v-form>

			<v-form v-else-if="competition.status === COMPETITION_STATUS.VERIFYING">
				<div class="text-center mb-4 display-1">
					{{ competition.title }}
				</div>
				<v-row style="text-align: center">
					<v-col cols="12">
						竞赛申请等待审核中
					</v-col>
					<v-col cols="12">
						<v-btn dark color="primary" width="400px" @click="update">
							刷新结果
						</v-btn>
					</v-col>
				</v-row>
			</v-form>

			<v-form v-else-if="competition.status === COMPETITION_STATUS.CONFIRMING">
				<div class="text-center mb-4 display-1">
					{{ competition.title }}
				</div>
				<div class="text-center my-3">
					竞赛审核通过
				</div>
				<div class="text-center">
					<v-btn dark color="primary" width="400px" @click="publish">
						确认发布
					</v-btn>
				</div>
			</v-form>

			<v-form v-else-if="competition.status === COMPETITION_STATUS.PUBLISHED">
				<div class="text-center mb-4 display-1">
					{{ competition.title }}
				</div>
				<div class="text-center my-3">
					比赛已发布
				</div>
				<div class="text-center">
					<v-btn
						dark
						color="primary"
						width="400px"
						@click="$router.push(`/competition/${id}`)"
					>
						查看比赛
					</v-btn>
				</div>
			</v-form>
		</v-card>
	</div>
</template>

<script>
import axios from "axios";
import DateTime from "@/components/datetime/DateTime.vue";
import baseUrl from "@/utils/url.js";
import { COMPETITION_STATUS } from "@/utils/competition.js";
import moment from "moment";
import { getUser, getCompetition } from "@/utils/cache";
import { mapState } from "vuex";
import RichText from "@/components/RichText.vue";

export default {
	components: {
		DateTime,
		RichText
	},
	data: () => ({
		competition: {
			file: undefined,
			thumbnail: undefined,
			title: "",
			cover: "",
			organizerName: "",
			enrollDate: {
				begin: moment().format("YYYY-MM-DD"),
				end: moment().format("YYYY-MM-DD")
			},
			competitionDate: {
				begin: moment().format("YYYY-MM-DD"),
				end: moment().format("YYYY-MM-DD")
			},
			options: {
				teamLimit: 1
			},
			abstract: "",
			feature: "",
			introduction: "",
			status: COMPETITION_STATUS.CREATING
		},
		imageInput: false,
		rules: {
			imageRequired: value =>
				!!value ||
				value.size < 2000000 ||
				"Avatar size should be less than 2 MB!",
			titleRequired: value => !!value || "竞赛名称不能为空",
			organizerRequired: value => !!value || "组织者名称不能为空"
		},
		COMPETITION_STATUS
	}),
	computed: {
		...mapState(["userData"]),
		id() {
			return this.$route.query.id;
		}
	},
	mounted() {
		this.update();
	},
	methods: {
		async submit() {
			console.log("submit:", this.competition);
			if (this.competition.title === "" || this.competition.organizer === "") {
				return this.competition;
			}
			const formData = new FormData();
			for (const key in this.competition) {
				if (key === "enrollDate")
					formData.append(
						key,
						JSON.stringify({
							begin: new Date(this.competition.enrollDate.begin).getTime(),
							end: new Date(this.competition.enrollDate.end).getTime()
						})
					);
				else if (key === "competitionDate")
					formData.append(
						key,
						JSON.stringify({
							begin: new Date(this.competition.competitionDate.begin).getTime(),
							end: new Date(this.competition.competitionDate.end).getTime()
						})
					);
				else if (key === "options")
					formData.append(key, JSON.stringify(this.competition[key]));
				else formData.append(key, this.competition[key]);
			}
			const res = await this.$axios.$post(`${baseUrl}/competitions`, formData, {
				headers: {
					"Content-Type": "multipart/form-data"
				}
			});
			console.log(res);

			if (res.success) {
				await getUser(this.userData._id, true);
				this.$router.push(`/competition/create?id=${res.id}`);
				this.competition = await getCompetition(res.id, true);
			}
		},
		async update() {
			if (this.id && this.id.length) {
				this.competition = await getCompetition(this.id, true);
				console.log("Competition:", this.competition);
			}
		},
		async publish() {
			await this.$axios.$patch(`${baseUrl}/competitions/${this.id}`, {
				key: "publish"
			});
			await Promise.all([getUser(this.userData._id, true), this.update()]);
		}
	}
};
</script>

<style>
.v-form {
	text-align: justify-all;
}
</style>
