<template>
	<v-card class="pa-5">
		<v-card-title><b>修改比赛信息</b></v-card-title>

		<v-form class="pa-5" v-if="competition">
			<!--Cover-->
			<v-row class="image input">
				<v-col cols="3">
					<v-subheader class="subtitle-1">
						竞赛封面图：
					</v-subheader>
				</v-col>

				<v-col>
					<v-file-input
						:rules="[rules.imageRequired]"
						accept="image/png, image/jpeg, image/bmp"
						prepend-icon=""
						v-model="competition.file"
						outlined
					></v-file-input>
				</v-col>
			</v-row>
			<!--thumbnail-->
			<v-row class="image input">
				<v-col cols="3">
					<v-subheader class="subtitle-1">
						封面缩略图：
					</v-subheader>
				</v-col>

				<v-col>
					<v-file-input
						:rules="[rules.imageRequired]"
						accept="image/png, image/jpeg, image/bmp"
						hint="缩略图长与宽大致相等"
						persistent-hint
						prepend-icon=""
						v-model="competition.thumbnail"
						outlined
					></v-file-input>
				</v-col>
			</v-row>
			<!--Title-->
			<v-row>
				<v-col cols="3">
					<v-subheader class="subtitle-1">
						竞赛名称：
					</v-subheader>
				</v-col>
				<v-col>
					<v-text-field
						v-model="competition.title"
						:rules="[rules.titleRequired]"
						outlined
					></v-text-field>
				</v-col>
			</v-row>
			<!--Organizer-->
			<v-row>
				<v-col cols="3">
					<v-subheader class="subtitle-1">
						竞赛主办方：
					</v-subheader>
				</v-col>
				<v-col>
					<v-text-field
						v-model="competition.organizerName"
						:rules="[rules.organizerRequired]"
						outlined
					></v-text-field>
				</v-col>
			</v-row>
			<v-row>
				<v-col cols="3">
					<v-subheader class="subtitle-1">
						队伍人数限制：
					</v-subheader>
				</v-col>
				<v-col>
					<el-input-number v-model="competition.options.teamLimit" :min="1" />
				</v-col>
			</v-row>
			<!--Enroll Time-->
			<v-row>
				<v-col cols="12" md="6">
					<DateTime
						date-title="报名开始时间"
						v-model="competition.enrollDate.begin"
					></DateTime>
				</v-col>
				<v-col cols="12" md="6">
					<DateTime
						date-title="报名结束时间"
						:min-date="competition.enrollDate.begin"
						error-info="报名结束时间需比开始时间早"
						v-model="competition.enrollDate.end"
					></DateTime>
				</v-col>
			</v-row>
			<!--Competition Date-->
			<v-row>
				<v-col cols="12" md="6">
					<DateTime
						date-title="比赛开始时间"
						v-model="competition.competitionDate.begin"
					></DateTime>
				</v-col>
				<v-col cols="12" md="6">
					<DateTime
						date-title="比赛结束时间"
						:min-date="competition.competitionDate.begin"
						error-info="比赛结束时间需比开始时间早"
						v-model="competition.competitionDate.end"
					></DateTime>
				</v-col>
			</v-row>
			<!--Introduction-->
			<v-row>
				<v-col cols="2">
					<v-subheader class="subtitle-1">
						赛事简介：
					</v-subheader>
				</v-col>
				<v-col>
					<v-textarea
						rows="8"
						outlined
						v-model="competition.introduction"
					></v-textarea>
				</v-col>
			</v-row>
			<!--Button to submit-->
			<v-row justify="center">
				<v-btn dark color="primary" @click.stop="submit" min-width="200px">
					提交
				</v-btn>
			</v-row>
		</v-form>
	</v-card>
</template>

<script>
import { getUser, getCompetition } from "@/utils/cache";
import baseUrl from "@/utils/url";
import DateTime from "@/components/datetime/DateTime.vue";
import moment from "moment";
import { mapState } from "vuex";

export default {
	components: {
		DateTime
	},
	data() {
		return {
			competition: null,
			rules: {
				imageRequired: value =>
					!!value ||
					value.size < 2000000 ||
					"Avatar size should be less than 2 MB!",
				titleRequired: value => !!value || "竞赛名称不能为空",
				organizerRequired: value => !!value || "组织者名称不能为空"
			}
		};
	},
	computed: {
		...mapState(["userData"]),
		id() {
			return this.$route.query.id;
		}
	},
	mounted() {
		this.fetchData();
	},
	methods: {
		async fetchData() {
			const competition = await getCompetition(this.id);
			competition.thumbnail = undefined;
			competition.file = undefined;
			competition.cover = undefined;
			competition.enrollDate.begin = moment(
				competition.enrollDate.begin
			).format("YYYY-MM-DD");
			competition.enrollDate.end = moment(competition.enrollDate.end).format(
				"YYYY-MM-DD"
			);
			competition.competitionDate.begin = moment(
				competition.competitionDate.begin
			).format("YYYY-MM-DD");
			competition.competitionDate.end = moment(
				competition.competitionDate.end
			).format("YYYY-MM-DD");
			this.competition = {
				file: undefined,
				...competition
			};
		},

		async submit() {
			const formData = new FormData();
			for (const key in this.competition) {
				if (key === "enrollDate")
					formData.append(
						key,
						JSON.stringify({
							begin: new Date(this.competition.enrollDate.begin).getTime(),
							end: new Date(this.competition.enrollDate.end).getTime()
						})
					);
				else if (key === "competitionDate")
					formData.append(
						key,
						JSON.stringify({
							begin: new Date(this.competition.competitionDate.begin).getTime(),
							end: new Date(this.competition.competitionDate.end).getTime()
						})
					);
				else if (
					key === "options" ||
					key === "positions" ||
					key === "result" ||
					key === "posts" ||
					key === "teams"
				)
					formData.append(key, JSON.stringify(this.competition[key]));
				else formData.append(key, this.competition[key]);
			}
			const res = await this.$axios.$put(
				`${baseUrl}/competitions/${this.id}`,
				formData,
				{
					headers: {
						"Content-Type": "multipart/form-data"
					}
				}
			);

			if (res.success) {
				await Promise.all([
					getUser(this.userData._id, true),
					getCompetition(this.id, true)
				]);
				this.$router.push(`/competition/${this.id}`);
			}
		}
	}
};
</script>
