<template>
	<div>
		<div class="ma-4">比赛 / {{ competition.title }} / 帖子详情</div>
		<v-card class="ma-4 pa-5">
			<v-row class="px-2">
				<v-btn
					dark
					color="primary"
					@click="$router.push(`/competition/${competitionId}#discussion`)"
				>
					<v-icon>mdi-arrow-left</v-icon> 返回列表
				</v-btn>
				<v-spacer />
				<v-btn @click="postDialog = true" color="green" dark>
					<v-icon>mdi-plus</v-icon> 发表评论
				</v-btn>
			</v-row>

			<div class="mt-8 display-1">
				<b>{{ post && post.title }}</b>
			</div>
			<div v-if="post" class="subtitle-1 mt-2">
				<a
					v-if="userInfo[post.author]"
					:href="`/users/${userInfo[post.author]._id}`"
				>
					<b>{{ userInfo[post.author].username }}</b>
				</a>
				<span class="mx-1">·</span>
				<span class="grey--text">{{ formatDate(post.date) }}</span>
			</div>

			<div class="my-4" v-if="post" v-html="post.content"></div>

			<v-divider class="my-6" />
			<div class="headline">
				<strong>评论</strong>
				<v-icon color="blue" class="mb-1">
					mdi-comment-text
				</v-icon>
			</div>
			<div
				class="grey--text text-center title"
				v-if="!(post && post.comments && post.comments.length > 0)"
			>
				暂无评论
			</div>
			<v-row
				class="px-2 my-6"
				v-else
				v-for="(comment, i) in post.comments"
				:key="i"
			>
				<v-avatar size="60px" class="mr-1">
					<v-icon size="60px">
						mdi-account-box
					</v-icon>
				</v-avatar>
				<div>
					<div class="mb-1">
						<a
							v-if="userInfo[comment.author]"
							:href="`/users/${userInfo[post.author]._id}`"
						>
							<b>{{ userInfo[comment.author].username }}</b>
						</a>
						<span class="mx-1">·</span>
						<span class="grey--text">{{ comment.date }}</span>
					</div>
					<div v-html="comment.content"></div>
				</div>
			</v-row>

			<v-divider class="my-6" />
			<div class="headline mb-3">
				<strong>发表评论</strong>
				<v-icon color="blue" class="mb-1">
					mdi-comment-edit
				</v-icon>
			</div>
			<rich-text class="my-5" v-model="commentText"></rich-text>
			<v-row class="px-3">
				<v-spacer />
				<v-btn class="mr-3" @click="commentText = ''">
					清空评论
				</v-btn>
				<v-btn color="green" dark @click="submitComment">
					提交评论
				</v-btn>
			</v-row>
		</v-card>
	</div>
</template>

<script>
import { getUser, getCompetition } from "@/utils/cache.js";
import baseUrl from "@/utils/url";
import RichText from "@/components/RichText.vue";
import { formatDate } from "@/utils/date";

export default {
	components: {
		RichText
	},
	data() {
		return {
			competition: {},
			userInfo: {},
			commentText: ""
		};
	},
	computed: {
		competitionId() {
			return this.$route.query.competitionId;
		},
		index() {
			return this.$route.query.index;
		},
		post() {
			return this.competition.posts && this.competition.posts[this.index];
		}
	},
	mounted() {
		this.viewPost();
		this.fetchData();
	},

	methods: {
		formatDate,
		async fetchData(force = false) {
			this.competition = await getCompetition(this.competitionId, force);
			this.$set(
				this.userInfo,
				this.competition.posts[this.index].author,
				await getUser(this.competition.posts[this.index].author, force)
			);
			this.competition.posts[this.index].comments.forEach(async comment => {
				this.$set(
					this.userInfo,
					comment.author,
					await getUser(comment.author, force)
				);
			});
			console.log(this.competition);
		},
		viewPost() {
			this.$axios.$patch(
				`${baseUrl}/competitions/${this.competitionId}/posts`,
				{
					key: "view",
					value: this.index
				}
			);
		},

		async submitComment() {
			const res = await this.$axios.$patch(
				`${baseUrl}/competitions/${this.competitionId}/posts`,
				{
					key: "comment",
					pos: this.index,
					value: this.commentText
				}
			);
			console.log(res);
			if (res.success) await this.fetchData(true);
			this.commentText = "";
		}
	}
};
</script>
