<template>
	<v-container style="max-width: 90%">
		<v-row justify="start">
			<v-btn @click="$router.push(`/competition/${competitionId}#teams`)" text>
				<v-icon>mdi-arrow-left</v-icon>返回比赛
			</v-btn>
		</v-row>
		<v-row v-if="team">
			<v-col cols="12" md="4">
				<v-card class="pa-5" width="300px">
					<v-row v-if="team.avatar" justify="center">
						<v-img :src="team.avatar" />
					</v-row>
					<v-row v-else justify="center">
						<v-img
							src="https://cdn.kesci.com/images/avatar/7.jpg?imageView2/2/w/280/h/280"
						/>
</v-row><br />
					<v-row justify="center">
						<big>
							<strong>{{ team.name }}</strong>
						</big>
</v-row><br />
					<v-row justify="center">
{{ team.introduction }}
</v-row><br />
					<v-divider /><br />
					<v-row v-if="inTeam" justify="center">
						<v-btn dark color="green" width="120px" @click="exit">
							<v-icon class="mr-1">
mdi-exit-to-app
</v-icon>退出队伍
						</v-btn>
					</v-row>
					<v-row v-else justify="center">
						<v-btn dark color="green" width="120px" @click="join">
							<v-icon class="mr-1">
mdi-account-multiple-plus
</v-icon>加入队伍
						</v-btn>
					</v-row>
					<br />
					<v-row justify="center">
						<v-btn dark color="blue" width="120px" @click="message">
							<v-icon class="mr-1">
mdi-email-plus-outline
</v-icon>私信
						</v-btn>
					</v-row>
					<br /><v-divider /><br />
					<v-container>
						<v-row justify="center">
							<v-col cols="6" align="end">
								指导老师：
							</v-col>
							<v-col cols="6">
								<strong>{{ team.teacher.name }}</strong>
							</v-col>
						</v-row>
						<v-row justify="center">
							<v-col cols="6" align="end">
								老师邮箱：
							</v-col>
							<v-col cols="6">
								<strong><a :href="team.teacher.email">{{
										team.teacher.email
									}}</a></strong>
							</v-col>
						</v-row>
						<v-row justify="center">
							<v-col cols="6" align="end">
								所在大学：
							</v-col>
							<v-col cols="6">
								<strong>{{ team.teacher.university }}</strong>
							</v-col>
						</v-row>
					</v-container>
				</v-card>
			</v-col>

			<v-col cols="12" md="8">
				<v-card class="pb-1">
					<v-card-title>队伍成员</v-card-title>
					<v-divider />
					<v-card
						v-for="member in team.members"
						:key="member"
						outlined
						class="ma-5 pa-2"
					>
						<v-row class="px-4" align="center">
							<v-avatar class="mr-1" size="50px">
								<v-icon size="50px">
									mdi-account-box
								</v-icon>
							</v-avatar>
							<a style="font-size: 18px" :href="`/users/${member}`">{{
								userInfo[member] && userInfo[member].username
							}}</a>
							<v-chip
								class="ma-2"
								v-if="isLeader(member)"
								color="green"
								outlined
								small
							>
								队长
							</v-chip>
							<v-spacer />
							<v-btn
								class="ma-1"
								color="primary"
								dark
								@click="$router.push(`/users/${member}`)"
							>
								查看
							</v-btn>
							<v-btn
								v-if="
									userData && isLeader(userData._id) && userData._id !== member
								"
								class="ma-1"
								color="red"
								dark
								@click="deleteUser(member)"
							>
								移出队伍
							</v-btn>
						</v-row>
					</v-card>
				</v-card>
			</v-col>
		</v-row>
		<v-dialog
			v-model="joinedDialog.value"
			max-width="500px"
			transition="dialog-transition"
		>
			<v-card>
				<v-card-title>message:</v-card-title>
				<v-card-text>{{ joinedDialog.message }}</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn @click="joinedDialog.value = false">
						确定
					</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</v-container>
</template>

<script>
import { mapState } from "vuex";
import { getUser, getCompetition } from "@/utils/cache";
import baseUrl from "@/utils/url.js";

export default {
	data() {
		return {
			joinedDialog: {
				value: false,
				message: ""
			},
			competition: {},
			userInfo: {}
		};
	},
	computed: {
		...mapState(["userData"]),
		teamId() {
			return this.$route.query.teamId;
		},
		team() {
			return (
				this.competition.teams &&
				this.competition.teams.find(team => team.id === this.teamId)
			);
		},
		competitionId() {
			return this.$route.query.competitionId;
		},
		inTeam() {
			console.log(this.team);
			return (
				this.team &&
				this.userData &&
				this.team.members.includes(this.userData._id)
			);
		}
	},
	mounted() {
		this.fetchData();
	},
	methods: {
		async fetchData(force = false) {
			this.competition = await getCompetition(this.competitionId, force);
			console.log("Competition: ", this.competition);
			this.team.members.forEach(async member => {
				this.$set(this.userInfo, member, await getUser(member, force));
			});
		},
		join() {
			this.$axios
				.patch(`${baseUrl}/competitions/${this.competitionId}`, {
					key: "join-team",
					value: {
						name: this.team.name
					}
				})
				.then(res => {
					console.log("res:", res, res.data);
					this.joinedDialog.message = "成功加入队伍";
					this.joinedDialog.value = true;
					if (res.data.success) {
						this.fetchData(true);
					}
				});
		},
		exit() {
			this.$axios
				.patch(`${baseUrl}/competitions/${this.competitionId}`, {
					key: "exit-team"
				})
				.then(res => {
					console.log("res:", res, res.data);
					this.joinedDialog.message = "成功退出队伍";
					this.joinedDialog.value = true;
					if (res.data.success) {
						this.fetchData(true);
					}
				});
		},
		message() {
			// this.joinedDialog.value = true;
			console.log(this.userData, "this.$route.query", this.$route.query);
		},
		async deleteUser(id) {
			const res = await this.$axios.$patch(
				`${baseUrl}/competitions/${this.competitionId}`,
				{
					key: "remove-member",
					value: { id }
				}
			);
			if (res.success) {
				this.fetchData(true);
			}
		},
		isLeader(id) {
			return this.team.leader === id;
		}
	}
};
</script>
