<template>
	<v-row>
		<v-col cols="12" md="4">
			<v-card class="pa-5">
				<v-row class="mx-0 mb-9" justify="space-between" align="center">
					<span class="display-1" >
						{{ user && user.username }} <br />
						<v-chip
							class="mt-4"
							outlined
							color="green"
							v-if="user && user.status == 1"
						>
							已认证
						</v-chip>
						<v-chip
							class="mt-4"
							outlined
							color="primary"
							v-else-if="user && user.status == 2"
						>
							认证中
						</v-chip>
						<v-chip
							v-else-if="user && user.group != 'admin'"
							:to="
								userData && userData._id === user._id
									? '/users/auth'
									: undefined
							"
							class="mt-4"
							outlined
							color="orange"
						>
							未认证
						</v-chip>
						<v-chip
							v-if="user && user.group === 'organizer'"
							class="mt-4"
							outlined
							color="primary"
							>组织者</v-chip>
						<v-chip
							v-else-if="user && user.group === 'admin'"
							class="mt-4"
							outlined
							color="primary"
							>管理员
						</v-chip>
					</span>
					<v-avatar size="100px">
						<template v-if="user && user.avatar">
							<v-img
								:eager="true"
								:src="user && user.avatar"
								@click="startUploadAvatar"
							></v-img>
						</template>
						<template v-else>
							<v-icon size="100px" @click="uploadAvatar = true">
								mdi-account-box
							</v-icon>
						</template>
						<avatar v-model="uploadAvatar" @update="updateUSer(true)">
</avatar>
					</v-avatar>
				</v-row>

				<v-row class="ma-1">
					<strong class="title">
					<v-icon>
						mdi-earth
					</v-icon>
						自我介绍
					</strong>
				</v-row>
				<v-divider></v-divider>
				<div class="title ml-1 mt-3">
					<template v-if="user && user.bio">
						{{ user.bio }}
					</template>
					<template v-else>
						该用户暂无自我介绍
					</template>
					<v-icon @click="startEdit">
						mdi-square-edit-outline
					</v-icon>
					<editor v-model="editting" @update="updateUSer">
</editor>
				</div>
			</v-card>

			<v-card class="pa-5 mt-5">
				<span style="font-size: 20px">
					<v-icon>
						mdi-file-document
					</v-icon>
					学信网验证信息
				</span>
				<v-row class="mb-2"></v-row>
				<v-divider></v-divider>
				<v-row class="ma-5 mx-0">
					<strong>所在高校</strong>
					<v-spacer></v-spacer>
					<template v-if="user && user.school"> {{user.school}} </template>
					<template v-else> 未知 </template>
				</v-row>
				<v-row class="ma-5 mx-0">
					<strong>所在专业</strong>
					<v-spacer></v-spacer>
					<template v-if="user && user.marjo">{{user.major}}</template>
					<template v-else>未知</template>
				</strong>
</v-row>
				<v-row class="ma-5 mx-0">
					<strong>入学时间</strong>
					<v-spacer></v-spacer>
					<template v-if="user && user.begin">
{{user.begin}}
</template>
					<template v-else>
	未知
</template>
				</v-row>
</v-card>
		</v-col>

		<v-col cols="12" md="8">
			<v-card>
				<v-tabs height="60px">
					<v-tab class="title" exact nuxt :to="`/users/${id}`">
						{{ competitionListTitle }}
					</v-tab>
					<v-tab
						v-if="user && user.group === 'admin'"
						class="title"
						nuxt
						exact
						:to="`/users/${id}#users`"
					>
						管理用户
					</v-tab>
				</v-tabs>
				<v-divider />

				<v-card-text>
					<template v-if="route === ''">
	<competition-list
		admin
		:competitions="competitions"
		@update="fetchUser(true)"
	/>
</template>
					<template v-if="route === '#users'">
	<user-list :users="users" admin @update="fetchUsers" />
</template>
				</v-card-text>
			</v-card>
		</v-col>
	</v-row>
</template>

<script>
import { mapState } from "vuex";
import baseUrl from "@/utils/url";
import { getUser, getCompetition } from "@/utils/cache";
import CompetitionList from "@/components/CompetitionList.vue";
import Editor from "@/components/Editor.vue";
import Avatar from "@/components/Avatar.vue";
import UserList from "@/components/UserList.vue";

export default {
	components: {
		CompetitionList,
		UserList,
		Editor,
		Avatar
	},
	data() {
		return {
			user: null,
			competitions: null,
			users: null,
			route: "",
			editting: false,
			uploadAvatar: false
		};
	},

	computed: {
		...mapState(["userData"]),
		id() {
			return this.$route.params.id;
		},
		competitionListTitle() {
			if (!this.user) {
				return "已参加的比赛";
			}
			switch (this.user.group) {
				case "admin":
					return "管理比赛";
				case "organizer":
					return "已组织的比赛";
				default:
					return "已参加的比赛";
			}
		}
	},

	watch: {
		"$store.state.userData"() {
			if (
				this.userData &&
				this.userData._id === this.id &&
				this.userData.group === "admin"
			) {
				this.fetchUsers();
				this.fetchCompetitions();
			} else if (
				this.userData &&
				(this.user.group === "user" ||
					((this.userData._id === this.id || this.userData.group === "admin") &&
						this.user.group === "organizer"))
			) {
				this.fetchUser();
			}
		}
	},

	mounted() {
		this.fetchUser();
		if (
			this.userData &&
			this.userData._id === this.id &&
			this.userData.group === "admin"
		) {
			this.fetchUsers();
		}
		this.route = this.$route.hash;
	},
	beforeRouteUpdate(to, from, next) {
		this.route = to.hash;
		next();
	},

	methods: {
		async updateUSer(reload = false) {
			this.user = await getUser(this.user._id, true);
			console.log("this.user=", this.user);
			if (reload) {
				console.log("reload");
				// this.$router.go();
			}
		},
		startUploadAvatar() {
			console.log("start upload avatar");
			this.uploadAvatar = true;
		},
		startEdit() {
			const id1 = this.userData._id;
			if (id1 === this.id) {
				this.editting = true;
			} else {
				console.log("different id");
			}
		},
		async fetchUser(force = false) {
			const data = await getUser(this.id, force);
			console.log("user_id.vue:fetchuserdata:", data, "id:", this.id, baseUrl);
			this.user = data;
			await this.fetchCompetitions(force);
		},
		async fetchCompetitions(force = false) {
			if (
				this.user &&
				this.user.group === "admin" &&
				this.userData &&
				this.userData.group === "admin"
			) {
				const data = await this.$axios.$get(`${baseUrl}/competitions`);
				this.competitions = data.competitions;
			} else {
				this.competitions = await Promise.all(
					this.user.competitions.map(id => getCompetition(id, force))
				);
			}
			console.log("Competitions:", this.competitions);
		},
		async fetchUsers() {
			const data = await this.$axios.$get(`${baseUrl}/users`);
			console.log(data);
			if (data.success) {
				this.users = data.users;
			}
		}
	}
};
</script>
