<template>
	<v-container>
		<v-radio-group row v-model="verifyMode">
			<p class="ma-2">
				选择验证方式:
			</p>
			<v-radio
				label="选择学信网验证"
				value="xxw"
				@change="value => (verifyMode = value)"
			></v-radio>
			<v-radio
				label="选择其他方式验证"
				value="other"
				@change="value => (verifyMode = value)"
			></v-radio>
		</v-radio-group>
		<v-row v-if="userData && verifyMode === 'xxw'" justify="center">
			<v-col cols="12" md="6">
				<v-card class="pa-4 px-8" max-height="1000px">
					<v-row justify="center">
						<v-col cols="12" align="center" class="pb-4">
							<span class="title">提交学信网验证码 </span>
						</v-col>
						<v-col
							cols="10"
							align="center"
							v-if="
								userData.status !== USER_STATUS.VERIFIED ||
									userData.status !== USER_STATUS.VERIFIED
							"
						>
							<v-text-field
								placeholder="真实姓名"
								dense
								outlined
								v-model="realname"
							></v-text-field>
							<v-text-field
								placeholder="在线验证码"
								outlined
								dense
								v-model="verifycode"
							></v-text-field>
							<v-btn
								color="primary"
								width="120px"
								dark
								x-large
								@click="submitxxw"
								:loading="loading"
							>
								提交
							</v-btn>
						</v-col>
						<v-col
							cols="10"
							align="center"
							v-else-if="userData.status === USER_STATUS.VERIFYING"
						>
							<v-alert outlined type="info">
								认证等待中...
							</v-alert>
						</v-col>
						<v-col
							cols="10"
							align="center"
							v-else-if="userData.status === USER_STATUS.VERIFIED"
						>
							<v-alert outlined type="success">
								已认证
							</v-alert>
						</v-col>
					</v-row>
					<v-row justify="center" class="mr-5">
						<nuxt-link to="/users/explain-xxw">
							<small>
								<v-icon>mdi-arrow-right-bold-box</v-icon>学信网验证码说明
							</small>
						</nuxt-link>
					</v-row>
				</v-card>
			</v-col>
			<v-col v-if="status === 1" cols="12" md="6">
				<v-card class="pa-4 px-8">
					<v-card-text>
						<div style="text-align: center" class="mb-5 title black--text">
							认证结果
						</div>
						<v-row v-if="userinfo.name">
							<v-col cols="5">姓名：</v-col>
							<v-col cols="7">
								<strong>{{ userinfo.name }}</strong>
							</v-col>
						</v-row>
						<v-row v-if="userinfo.school">
							<v-col cols="3">学校：</v-col>
							<v-col cols="9">
								<strong>{{ userinfo.school }}</strong>
							</v-col>
						</v-row>
						<v-row v-if="userinfo.major">
							<v-col cols="3">专业：</v-col>
							<v-col cols="9">
								<strong>{{ userinfo.major }}</strong>
							</v-col>
						</v-row>
						<v-row v-if="userinfo.index">
							<v-col cols="3">学号：</v-col>
							<v-col cols="9">
								<strong>{{ userinfo.index }}</strong>
							</v-col>
						</v-row>
						<v-row v-if="userinfo.begin">
							<v-col cols="3">入学时间：</v-col>
							<v-col cols="9">
								<strong>{{ userinfo.begin }}</strong>
							</v-col>
						</v-row>
						<v-row v-if="userinfo.status">
							<v-col cols="3">学籍状态：</v-col>
							<v-col cols="9">
								<strong>{{ userinfo.status }}</strong>
							</v-col>
						</v-row>
					</v-card-text>
				</v-card>
			</v-col>
		</v-row>
		<v-row v-else-if="userData && verifyMode === 'other'" justify="center">
			<v-card min-width="400px">
				<v-row justify="center">
					<v-col cols="12" align="center">
						<strong>提交验证文件</strong>
					</v-col>
					<v-col
						cols="10"
						align="center"
						v-if="userData.status === USER_STATUS.UNVERIFIED"
					>
						<v-file-input
							chips
							multiple
							@change="value => (files = value)"
						></v-file-input>
						<v-btn
							:loading="loading"
							x-large
							color="primary"
							@click="submitother"
						>
							确认提交
						</v-btn>
					</v-col>
					<v-col
						cols="10"
						align="center"
						v-else-if="userData.status === USER_STATUS.VERIFYING"
					>
						<v-alert outlined type="info">
							认证等待中...
						</v-alert>
					</v-col>
					<v-col
						cols="10"
						align="center"
						v-else-if="userData.status === USER_STATUS.VERIFIED"
					>
						<v-alert outlined type="success">
							已认证
						</v-alert>
					</v-col>
				</v-row>
			</v-card>
		</v-row>
		<alert
			title="提示"
			:content="dialog.content"
			:value="dialog.show"
			@input="
				val => {
					dialog.show = val;
					$emit('input', val);
				}
			"
		></alert>
	</v-container>
</template>

<script>
import baseUrl from "@/utils/url.js";
import { mapState, mapActions } from "vuex";
import { USER_STATUS } from "@/utils/user.js";
import { format } from "path";
import Alert from "@/components/Alert.vue";

export default {
	components: {
		Alert
	},
	data() {
		return {
			USER_STATUS,
			files: null,
			verifyMode: "xxw",
			userinfo: {},
			verifycode: "",
			realname: "",
			status: 0,
			loading: false,
			dialog: {
				show: false,
				content: ""
			}
		};
	},
	computed: {
		...mapState(["userData"]),
		...mapActions(["fetchUserData"])
	},
	methods: {
		async submitxxw() {
			this.loading = true;
			console.log("ayth.vue:userData", this.userData);
			const res = await this.$axios.$patch(
				`${baseUrl}/users/${this.userData._id}`,
				{
					key: "verify-xxw",
					value: {
						code: this.verifycode,
						realname: this.realname
					}
				}
			);
			if (res.success) {
				console.log("this:", this, this.userinfo);
				this.status = 1;
				this.userinfo = res.data;
				await this.fetchUserData();
				this.dialog.content = "认证成功";
			} else {
				this.dialog.content = "认证失败";
			}
			this.dialog.show = true;
			console.log("xxw verify res:", res);
			this.loading = false;
		},
		async submitother() {
			this.loading = true;
			this.status = -1;
			const formData = new FormData();
			for (const file of this.files) {
				formData.append("file", file);
			}
			console.log("formData", formData);
			formData.append("key", "verify-document");
			const res = await this.$axios.$patch(
				`${baseUrl}/users/${this.userData._id}`,
				formData,
				{
					headers: {
						"Content-Type": "multipart/form-data"
					}
				}
			);
			if (res.success) {
				this.status = 2;
			}
			this.loading = false;
		}
	}
};
</script>
