<template>
  <div style="text-align: center">
    <img
      :src="qrsrc"
      height="200px"
      width="200px"
      aspect-ratio="1"
    />
    <div class="subtitle-1">
      <v-icon>mdi-wechat</v-icon>
      微信扫码进入小程序
    </div>
  </div>
</template>

<script>
export default {
  props: {
    'qrsrc': {
        type: String,
        default: ''
    }
  }
};
</script>

<style>
#mdiwechat {
  align: justify;
}
</style>
