<template>
  <div style="position: relative; text-align: center;">
    <div v-if="hasCertificate" key="1">
      <div style="margin-top: 2rem; margin-bottom: 1rem;">
        <image mode="aspectFit" :show-menu-by-longpress="true" style="width: 100%" :src="image"></image>
      </div>
      <div style="margin-top: 1rem; margin-bottom: 1rem;">
        <text>长按即可下载证书</text>
      </div>
    </div>
    <div v-else key="2">
      <text>该比赛您暂无获奖证书</text>
    </div>
  </div>
</template>

<script>
import fly from '../http/fly.js'
export default {
  data () {
    return {
      cid: '',
      uid: '',
      image: '',
      hasCertificate: true
    }
  },
  onLoad () {
    this.fetchCertificate()
  },
  methods: {
    async fetchCertificate () {
      wx.showToast({
        title: '加载中',
        icon: 'loading',
        duration: 100000
      })
      this.cid = this.$route.query.cid
      this.uid = this.$route.query.uid
      console.log('fetchCertificate:', this)
      fly.get('/competitions/'+this.cid+'/certificate/'+this.uid)
      .then(res => {
        if (res.success) {
          console.log('res', res)
          wx.hideToast()
          this.hasCertificate = true
          this.image = res.image
        } else {
          this.hasCertificate = false
        }
      })
    },
    test () {
      wx.downloadFile
      ({
        url: this.image,
        type: 'image',
        success: function (res) {
          console.log('download success',res.tempFilePath, res)
        },
        fail: function (res) {
          console.log('download fail', res)
        }
      })
    }
  },
  created () {
    // let app = getApp()
  }
}
</script>

<style scoped>
.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userinfo-avatar {
  width: 128rpx;
  height: 128rpx;
  margin: 20rpx;
  border-radius: 50%;
}

.userinfo-nickname {
  color: #aaa;
}

.usermotto {
  margin-top: 150px;
}

.form-control {
  display: block;
  padding: 0 12px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
}
.all{
  width:7.5rem;
  height:1rem;
  background-color:blue;
}
.all:after{
  display:block;
  content:'';
  clear:both;
}
.left{
  float:left;
  width:3rem;
  height:1rem;
  background-color:red;
}

.right{
  float:left;
  width:4.5rem;
  height:1rem;
  background-color:green;
}
</style>
